// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "align-self"
    ),
    $extend: (
        "align-self": (
            "center"
        )
    )
);

@include describe("align-self") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .align-self-center {
                    align-self: center;
                }
            }
        }
    }
}
