// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "align-self": (
            "center"
        )
    )
);

@include describe("align-self") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("align-self", core.align-self-values(), (
                    "align-self": "align-self"
                ));
            }

            @include expect(false) {
                .align-self-center {
                    align-self: center;
                }
            }
        }
    }
}
