// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core;

@include describe("min-height") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("min-height", core.min-height-values(), (
                    "min-h": "min-height"
                ));
            }

            @include expect(false) {
                .min-h-0 {
                    min-height: 0;
                }

                .min-h-full {
                    min-height: 100%;
                }

                .min-h-screen {
                    min-height: 100vh;
                }

                .min-h-min {
                    min-height: min-content;
                }

                .min-h-max {
                    min-height: max-content;
                }

                .min-h-fit {
                    min-height: fit-content;
                }

                @media (min-width: 320px) {
                    .xs\:min-h-0 {
                        min-height: 0;
                    }

                    .xs\:min-h-full {
                        min-height: 100%;
                    }

                    .xs\:min-h-screen {
                        min-height: 100vh;
                    }

                    .xs\:min-h-min {
                        min-height: min-content;
                    }

                    .xs\:min-h-max {
                        min-height: max-content;
                    }

                    .xs\:min-h-fit {
                        min-height: fit-content;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:min-h-0 {
                        min-height: 0;
                    }

                    .sm\:min-h-full {
                        min-height: 100%;
                    }

                    .sm\:min-h-screen {
                        min-height: 100vh;
                    }

                    .sm\:min-h-min {
                        min-height: min-content;
                    }

                    .sm\:min-h-max {
                        min-height: max-content;
                    }

                    .sm\:min-h-fit {
                        min-height: fit-content;
                    }
                }

                @media (min-width: 768px) {
                    .md\:min-h-0 {
                        min-height: 0;
                    }

                    .md\:min-h-full {
                        min-height: 100%;
                    }

                    .md\:min-h-screen {
                        min-height: 100vh;
                    }

                    .md\:min-h-min {
                        min-height: min-content;
                    }

                    .md\:min-h-max {
                        min-height: max-content;
                    }

                    .md\:min-h-fit {
                        min-height: fit-content;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:min-h-0 {
                        min-height: 0;
                    }

                    .lg\:min-h-full {
                        min-height: 100%;
                    }

                    .lg\:min-h-screen {
                        min-height: 100vh;
                    }

                    .lg\:min-h-min {
                        min-height: min-content;
                    }

                    .lg\:min-h-max {
                        min-height: max-content;
                    }

                    .lg\:min-h-fit {
                        min-height: fit-content;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:min-h-0 {
                        min-height: 0;
                    }

                    .xl\:min-h-full {
                        min-height: 100%;
                    }

                    .xl\:min-h-screen {
                        min-height: 100vh;
                    }

                    .xl\:min-h-min {
                        min-height: min-content;
                    }

                    .xl\:min-h-max {
                        min-height: max-content;
                    }

                    .xl\:min-h-fit {
                        min-height: fit-content;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:min-h-0 {
                        min-height: 0;
                    }

                    .\32 xl\:min-h-full {
                        min-height: 100%;
                    }

                    .\32 xl\:min-h-screen {
                        min-height: 100vh;
                    }

                    .\32 xl\:min-h-min {
                        min-height: min-content;
                    }

                    .\32 xl\:min-h-max {
                        min-height: max-content;
                    }

                    .\32 xl\:min-h-fit {
                        min-height: fit-content;
                    }
                }
            }
        }
    }
}
