// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "font-weight"
    ),
    $extend: (
        "font-weight": (
            "400"
        )
    )
);

@include describe("font-weight") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .font-400 {
                    font-weight: 400;
                }
            }
        }
    }
}
