// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("font-weight") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("font-weight", core.font-weight-values(), (
                    "font": "font-weight"
                ));
            }

            @include expect(false) {
                .font-100 {
                    font-weight: 100;
                }

                .font-200 {
                    font-weight: 200;
                }

                .font-300 {
                    font-weight: 300;
                }

                .font-400 {
                    font-weight: 400;
                }

                .font-500 {
                    font-weight: 500;
                }

                .font-600 {
                    font-weight: 600;
                }

                .font-700 {
                    font-weight: 700;
                }

                .font-800 {
                    font-weight: 800;
                }

                .font-900 {
                    font-weight: 900;
                }
            }
        }
    }
}
