// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "font-weight": (
            400
        )
    )
);
@use "../index" as font-weight;

@include describe("font-weight.core-styles()") {
    @include it("Should return main styles extended declarations.") {
        @include assert {
            @include output(false) {
                @include font-weight.core-styles;
            }

            @include expect(false) {
                .font-400 {
                    font-weight: 400;
                }

                @media (min-width: 320px) {
                    .xs\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-400 {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
