// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as font-weight;

@include describe("font-weight.core-styles()") {
    @include it("Should return main styles for declarations.") {
        @include assert {
            @include output(false) {
                @include font-weight.core-styles;
            }

            @include expect(false) {
                .font-100 {
                    font-weight: 100;
                }

                @media (min-width: 320px) {
                    .xs\:font-100 {
                        font-weight: 100;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-100 {
                        font-weight: 100;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-100 {
                        font-weight: 100;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-100 {
                        font-weight: 100;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-100 {
                        font-weight: 100;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-100 {
                        font-weight: 100;
                    }
                }

                .font-200 {
                    font-weight: 200;
                }

                @media (min-width: 320px) {
                    .xs\:font-200 {
                        font-weight: 200;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-200 {
                        font-weight: 200;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-200 {
                        font-weight: 200;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-200 {
                        font-weight: 200;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-200 {
                        font-weight: 200;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-200 {
                        font-weight: 200;
                    }
                }

                .font-300 {
                    font-weight: 300;
                }

                @media (min-width: 320px) {
                    .xs\:font-300 {
                        font-weight: 300;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-300 {
                        font-weight: 300;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-300 {
                        font-weight: 300;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-300 {
                        font-weight: 300;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-300 {
                        font-weight: 300;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-300 {
                        font-weight: 300;
                    }
                }

                .font-400 {
                    font-weight: 400;
                }

                @media (min-width: 320px) {
                    .xs\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-400 {
                        font-weight: 400;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-400 {
                        font-weight: 400;
                    }
                }

                .font-500 {
                    font-weight: 500;
                }

                @media (min-width: 320px) {
                    .xs\:font-500 {
                        font-weight: 500;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-500 {
                        font-weight: 500;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-500 {
                        font-weight: 500;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-500 {
                        font-weight: 500;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-500 {
                        font-weight: 500;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-500 {
                        font-weight: 500;
                    }
                }

                .font-600 {
                    font-weight: 600;
                }

                @media (min-width: 320px) {
                    .xs\:font-600 {
                        font-weight: 600;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-600 {
                        font-weight: 600;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-600 {
                        font-weight: 600;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-600 {
                        font-weight: 600;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-600 {
                        font-weight: 600;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-600 {
                        font-weight: 600;
                    }
                }

                .font-700 {
                    font-weight: 700;
                }

                @media (min-width: 320px) {
                    .xs\:font-700 {
                        font-weight: 700;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-700 {
                        font-weight: 700;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-700 {
                        font-weight: 700;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-700 {
                        font-weight: 700;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-700 {
                        font-weight: 700;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-700 {
                        font-weight: 700;
                    }
                }

                .font-800 {
                    font-weight: 800;
                }

                @media (min-width: 320px) {
                    .xs\:font-800 {
                        font-weight: 800;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-800 {
                        font-weight: 800;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-800 {
                        font-weight: 800;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-800 {
                        font-weight: 800;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-800 {
                        font-weight: 800;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-800 {
                        font-weight: 800;
                    }
                }

                .font-900 {
                    font-weight: 900;
                }

                @media (min-width: 320px) {
                    .xs\:font-900 {
                        font-weight: 900;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-900 {
                        font-weight: 900;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-900 {
                        font-weight: 900;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-900 {
                        font-weight: 900;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-900 {
                        font-weight: 900;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-900 {
                        font-weight: 900;
                    }
                }
            }
        }
    }
}
