// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "../core";
@use "./variables";

@mixin core-styles {
    .gap {
        @include core.declaration("gap") {
            @each $key, $value in variables.$extend {
                &-#{$key} {
                    gap: $value;
                }

                &-x-#{$key} {
                    column-gap: $value;
                }

                &-y-#{$key} {
                    row-gap: $value;
                }
            }
        }
    }
}
