// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:meta";
@use "sass:string";
@use "@lasco/core";
@use "./variables";

@mixin core-styles {
    .gap {
        @include core.declaration("gap") {
            @each $key, $value in variables.$extend {
                $property: gap;

                @if meta.type-of($key) == "string" and string.index($key, "x-") {
                    $property: column-gap;
                } @else if meta.type-of($key) == "string" and string.index($key, "y-") {
                    $property: row-gap;
                }

                &-#{$key} {
                    #{$property}: $value;
                }
            }
        }
    }
}
