// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" with (
    $extend: (
        "bg-size": (
            "50": "50%",
            "50-auto": "50% auto",
            "multiple": "50%, 25%, 25%"
        )
    )
);
@use "../index" as bg-size;

@include describe("bg-size.core-styles()") {
    @include it("Should return extended `bg-size` declarations.") {
        @include assert {
            @include output(false) {
                @include bg-size.core-styles;
            }

            @include expect(false) {
                .bg-size-auto {
                    background-size: auto;
                }

                .bg-size-cover {
                    background-size: cover;
                }

                .bg-size-contain {
                    background-size: contain;
                }

                .bg-size-50 {
                    background-size: 50%;
                }

                .bg-size-50-auto {
                    background-size: 50% auto;
                }

                .bg-size-multiple {
                    background-size: 50%, 25%, 25%;
                }

                @media (min-width: 320px) {
                    .xs\:bg-size-auto {
                        background-size: auto;
                    }

                    .xs\:bg-size-cover {
                        background-size: cover;
                    }

                    .xs\:bg-size-contain {
                        background-size: contain;
                    }

                    .xs\:bg-size-50 {
                        background-size: 50%;
                    }

                    .xs\:bg-size-50-auto {
                        background-size: 50% auto;
                    }

                    .xs\:bg-size-multiple {
                        background-size: 50%, 25%, 25%;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:bg-size-auto {
                        background-size: auto;
                    }

                    .sm\:bg-size-cover {
                        background-size: cover;
                    }

                    .sm\:bg-size-contain {
                        background-size: contain;
                    }

                    .sm\:bg-size-50 {
                        background-size: 50%;
                    }

                    .sm\:bg-size-50-auto {
                        background-size: 50% auto;
                    }

                    .sm\:bg-size-multiple {
                        background-size: 50%, 25%, 25%;
                    }
                }

                @media (min-width: 768px) {
                    .md\:bg-size-auto {
                        background-size: auto;
                    }

                    .md\:bg-size-cover {
                        background-size: cover;
                    }

                    .md\:bg-size-contain {
                        background-size: contain;
                    }

                    .md\:bg-size-50 {
                        background-size: 50%;
                    }

                    .md\:bg-size-50-auto {
                        background-size: 50% auto;
                    }

                    .md\:bg-size-multiple {
                        background-size: 50%, 25%, 25%;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:bg-size-auto {
                        background-size: auto;
                    }

                    .lg\:bg-size-cover {
                        background-size: cover;
                    }

                    .lg\:bg-size-contain {
                        background-size: contain;
                    }

                    .lg\:bg-size-50 {
                        background-size: 50%;
                    }

                    .lg\:bg-size-50-auto {
                        background-size: 50% auto;
                    }

                    .lg\:bg-size-multiple {
                        background-size: 50%, 25%, 25%;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:bg-size-auto {
                        background-size: auto;
                    }

                    .xl\:bg-size-cover {
                        background-size: cover;
                    }

                    .xl\:bg-size-contain {
                        background-size: contain;
                    }

                    .xl\:bg-size-50 {
                        background-size: 50%;
                    }

                    .xl\:bg-size-50-auto {
                        background-size: 50% auto;
                    }

                    .xl\:bg-size-multiple {
                        background-size: 50%, 25%, 25%;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:bg-size-auto {
                        background-size: auto;
                    }

                    .\32 xl\:bg-size-cover {
                        background-size: cover;
                    }

                    .\32 xl\:bg-size-contain {
                        background-size: contain;
                    }

                    .\32 xl\:bg-size-50 {
                        background-size: 50%;
                    }

                    .\32 xl\:bg-size-50-auto {
                        background-size: 50% auto;
                    }

                    .\32 xl\:bg-size-multiple {
                        background-size: 50%, 25%, 25%;
                    }
                }
            }
        }
    }
}
