// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "../core";

$_defaults: (
    auto: auto,
    square: "1/1",
    video: "16/9"
);

$extend: core.extend("aspect-ratio", $_defaults);
