// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "fill"
    ),
    $extend: (
        "fill": (
            "red": red
        )
    )
);

@include describe("fill") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .fill-none {
                    fill: none;
                }

                .fill-current {
                    fill: currentColor;
                }

                .fill-transparent {
                    fill: transparent;
                }

                .fill-black {
                    fill: #000;
                }

                .fill-white {
                    fill: #fff;
                }

                .fill-red {
                    fill: red;
                }
            }
        }
    }
}
