// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core;

@include describe("fill") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("fill", tokens.fill-values(), (
                    "fill": "fill"
                ));
            }

            @include expect(false) {
                .fill-none {
                    fill: none;
                }

                .fill-current {
                    fill: currentColor;
                }

                .fill-transparent {
                    fill: transparent;
                }

                .fill-black {
                    fill: #000;
                }

                .fill-white {
                    fill: #fff;
                }

                @media (min-width: 320px) {
                    .xs\:fill-none {
                        fill: none;
                    }

                    .xs\:fill-current {
                        fill: currentColor;
                    }

                    .xs\:fill-transparent {
                        fill: transparent;
                    }

                    .xs\:fill-black {
                        fill: #000;
                    }

                    .xs\:fill-white {
                        fill: #fff;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:fill-none {
                        fill: none;
                    }

                    .sm\:fill-current {
                        fill: currentColor;
                    }

                    .sm\:fill-transparent {
                        fill: transparent;
                    }

                    .sm\:fill-black {
                        fill: #000;
                    }

                    .sm\:fill-white {
                        fill: #fff;
                    }
                }

                @media (min-width: 768px) {
                    .md\:fill-none {
                        fill: none;
                    }

                    .md\:fill-current {
                        fill: currentColor;
                    }

                    .md\:fill-transparent {
                        fill: transparent;
                    }

                    .md\:fill-black {
                        fill: #000;
                    }

                    .md\:fill-white {
                        fill: #fff;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:fill-none {
                        fill: none;
                    }

                    .lg\:fill-current {
                        fill: currentColor;
                    }

                    .lg\:fill-transparent {
                        fill: transparent;
                    }

                    .lg\:fill-black {
                        fill: #000;
                    }

                    .lg\:fill-white {
                        fill: #fff;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:fill-none {
                        fill: none;
                    }

                    .xl\:fill-current {
                        fill: currentColor;
                    }

                    .xl\:fill-transparent {
                        fill: transparent;
                    }

                    .xl\:fill-black {
                        fill: #000;
                    }

                    .xl\:fill-white {
                        fill: #fff;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:fill-none {
                        fill: none;
                    }

                    .\32 xl\:fill-current {
                        fill: currentColor;
                    }

                    .\32 xl\:fill-transparent {
                        fill: transparent;
                    }

                    .\32 xl\:fill-black {
                        fill: #000;
                    }

                    .\32 xl\:fill-white {
                        fill: #fff;
                    }
                }
            }
        }
    }
}
