// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0
);

$grayscale: () !default;
$grayscale: map.merge($_defaults, $grayscale);
