// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core";

@include describe("place-self") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("place-self", core.$place-self, (
                    "place-self": "place-self"
                ));
            }

            @include expect(false) {
                .place-self-auto {
                    place-self: auto;
                }

                .place-self-start {
                    place-self: start;
                }

                .place-self-end {
                    place-self: end;
                }

                .place-self-center {
                    place-self: center;
                }

                .place-self-stretch {
                    place-self: stretch;
                }

                @media (min-width: 320px) {
                    .xs\:place-self-auto {
                        place-self: auto;
                    }

                    .xs\:place-self-start {
                        place-self: start;
                    }

                    .xs\:place-self-end {
                        place-self: end;
                    }

                    .xs\:place-self-center {
                        place-self: center;
                    }

                    .xs\:place-self-stretch {
                        place-self: stretch;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:place-self-auto {
                        place-self: auto;
                    }

                    .sm\:place-self-start {
                        place-self: start;
                    }

                    .sm\:place-self-end {
                        place-self: end;
                    }

                    .sm\:place-self-center {
                        place-self: center;
                    }

                    .sm\:place-self-stretch {
                        place-self: stretch;
                    }
                }

                @media (min-width: 768px) {
                    .md\:place-self-auto {
                        place-self: auto;
                    }

                    .md\:place-self-start {
                        place-self: start;
                    }

                    .md\:place-self-end {
                        place-self: end;
                    }

                    .md\:place-self-center {
                        place-self: center;
                    }

                    .md\:place-self-stretch {
                        place-self: stretch;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:place-self-auto {
                        place-self: auto;
                    }

                    .lg\:place-self-start {
                        place-self: start;
                    }

                    .lg\:place-self-end {
                        place-self: end;
                    }

                    .lg\:place-self-center {
                        place-self: center;
                    }

                    .lg\:place-self-stretch {
                        place-self: stretch;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:place-self-auto {
                        place-self: auto;
                    }

                    .xl\:place-self-start {
                        place-self: start;
                    }

                    .xl\:place-self-end {
                        place-self: end;
                    }

                    .xl\:place-self-center {
                        place-self: center;
                    }

                    .xl\:place-self-stretch {
                        place-self: stretch;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:place-self-auto {
                        place-self: auto;
                    }

                    .\32 xl\:place-self-start {
                        place-self: start;
                    }

                    .\32 xl\:place-self-end {
                        place-self: end;
                    }

                    .\32 xl\:place-self-center {
                        place-self: center;
                    }

                    .\32 xl\:place-self-stretch {
                        place-self: stretch;
                    }
                }
            }
        }
    }
}
