// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:list";
@use "@lasco/core";
@use "./variables";

@mixin core-styles {
    .bg {
        @include core.declaration("bg-repeat") {
            @each $key in variables.$extend {
                $suffix: null;

                @if $key == round or $key == space {
                    $suffix: repeat-#{$key};
                } @else if $key == no-repeat {
                    $suffix: repeat-none;
                } @else {
                    $suffix: $key;
                }

                &-#{$suffix} {
                    background-repeat: $key;
                }
            }
        }
    }
}
