// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "sass:string";
@use "true" as *;
@use "../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "display",
        "grayscale",
        "margin"
    )
);

@include describe("core") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .block {
                    display: block;
                }

                .inline-block {
                    display: inline-block;
                }

                .flex {
                    display: flex;
                }

                .inline-flex {
                    display: inline-flex;
                }

                .grid {
                    display: grid;
                }

                .inline-grid {
                    display: inline-grid;
                }

                .table {
                    display: table;
                }

                .inline-table {
                    display: inline-table;
                }

                .hidden {
                    display: none;
                }

                .grayscale {
                    filter: grayscale(1);
                }

                .grayscale-0 {
                    filter: grayscale(0);
                }

                .m-0 {
                    margin: 0;
                }

                .m-auto {
                    margin: auto;
                }

                .mx-0 {
                    margin-left: 0;
                    margin-right: 0;
                }

                .mx-auto {
                    margin-left: auto;
                    margin-right: auto;
                }

                .my-0 {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .my-auto {
                    margin-top: auto;
                    margin-bottom: auto;
                }

                .mt-0 {
                    margin-top: 0;
                }

                .mt-auto {
                    margin-top: auto;
                }

                .mr-0 {
                    margin-right: 0;
                }

                .mr-auto {
                    margin-right: auto;
                }

                .mb-0 {
                    margin-bottom: 0;
                }

                .mb-auto {
                    margin-bottom: auto;
                }

                .ml-0 {
                    margin-left: 0;
                }

                .ml-auto {
                    margin-left: auto;
                }
            }
        }
    }
}
