// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("justify-content") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("justify-content", tokens.justify-content-values(), (
                    "justify-content": "justify-content"
                ));
            }

            @include expect(false) {
                .justify-content-start {
                    justify-content: start;
                }

                .justify-content-end {
                    justify-content: end;
                }

                .justify-content-center {
                    justify-content: center;
                }

                .justify-content-space-between {
                    justify-content: space-between;
                }

                .justify-content-space-around {
                    justify-content: space-around;
                }

                .justify-content-space-evenly {
                    justify-content: space-evenly;
                }

                .justify-content-stretch {
                    justify-content: stretch;
                }
            }
        }
    }
}
