// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "background-size"
    )
);

@include describe("background-size") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .bg-size-auto {
                    background-size: auto;
                }

                .bg-size-cover {
                    background-size: cover;
                }

                .bg-size-contain {
                    background-size: contain;
                }
            }
        }
    }
}
