// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core;

@include describe("grid-template-columns") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grid-template-columns", tokens.grid-template-columns-values(), (
                    "grid-cols": "grid-template-columns"
                ));
            }

            @include expect(false) {
                .grid-cols-none {
                    grid-template-columns: none;
                }

                .grid-cols-1 {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                }

                .grid-cols-2 {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }

                .grid-cols-3 {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }

                .grid-cols-4 {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                }

                .grid-cols-5 {
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }

                .grid-cols-6 {
                    grid-template-columns: repeat(6, minmax(0, 1fr));
                }

                .grid-cols-7 {
                    grid-template-columns: repeat(7, minmax(0, 1fr));
                }

                .grid-cols-8 {
                    grid-template-columns: repeat(8, minmax(0, 1fr));
                }

                .grid-cols-9 {
                    grid-template-columns: repeat(9, minmax(0, 1fr));
                }

                .grid-cols-10 {
                    grid-template-columns: repeat(10, minmax(0, 1fr));
                }

                .grid-cols-11 {
                    grid-template-columns: repeat(11, minmax(0, 1fr));
                }

                .grid-cols-12 {
                    grid-template-columns: repeat(12, minmax(0, 1fr));
                }

                @media (min-width: 320px) {
                    .xs\:grid-cols-none {
                        grid-template-columns: none;
                    }

                    .xs\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-3 {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-4 {
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-5 {
                        grid-template-columns: repeat(5, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-6 {
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-7 {
                        grid-template-columns: repeat(7, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-8 {
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-9 {
                        grid-template-columns: repeat(9, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-10 {
                        grid-template-columns: repeat(10, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-11 {
                        grid-template-columns: repeat(11, minmax(0, 1fr));
                    }

                    .xs\:grid-cols-12 {
                        grid-template-columns: repeat(12, minmax(0, 1fr));
                    }
                }

                @media (min-width: 480px) {
                    .sm\:grid-cols-none {
                        grid-template-columns: none;
                    }

                    .sm\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-3 {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-4 {
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-5 {
                        grid-template-columns: repeat(5, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-6 {
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-7 {
                        grid-template-columns: repeat(7, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-8 {
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-9 {
                        grid-template-columns: repeat(9, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-10 {
                        grid-template-columns: repeat(10, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-11 {
                        grid-template-columns: repeat(11, minmax(0, 1fr));
                    }

                    .sm\:grid-cols-12 {
                        grid-template-columns: repeat(12, minmax(0, 1fr));
                    }
                }

                @media (min-width: 768px) {
                    .md\:grid-cols-none {
                        grid-template-columns: none;
                    }

                    .md\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .md\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .md\:grid-cols-3 {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }

                    .md\:grid-cols-4 {
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                    }

                    .md\:grid-cols-5 {
                        grid-template-columns: repeat(5, minmax(0, 1fr));
                    }

                    .md\:grid-cols-6 {
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                    }

                    .md\:grid-cols-7 {
                        grid-template-columns: repeat(7, minmax(0, 1fr));
                    }

                    .md\:grid-cols-8 {
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                    }

                    .md\:grid-cols-9 {
                        grid-template-columns: repeat(9, minmax(0, 1fr));
                    }

                    .md\:grid-cols-10 {
                        grid-template-columns: repeat(10, minmax(0, 1fr));
                    }

                    .md\:grid-cols-11 {
                        grid-template-columns: repeat(11, minmax(0, 1fr));
                    }

                    .md\:grid-cols-12 {
                        grid-template-columns: repeat(12, minmax(0, 1fr));
                    }
                }

                @media (min-width: 960px) {
                    .lg\:grid-cols-none {
                        grid-template-columns: none;
                    }

                    .lg\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-3 {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-4 {
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-5 {
                        grid-template-columns: repeat(5, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-6 {
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-7 {
                        grid-template-columns: repeat(7, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-8 {
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-9 {
                        grid-template-columns: repeat(9, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-10 {
                        grid-template-columns: repeat(10, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-11 {
                        grid-template-columns: repeat(11, minmax(0, 1fr));
                    }

                    .lg\:grid-cols-12 {
                        grid-template-columns: repeat(12, minmax(0, 1fr));
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:grid-cols-none {
                        grid-template-columns: none;
                    }

                    .xl\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-3 {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-4 {
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-5 {
                        grid-template-columns: repeat(5, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-6 {
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-7 {
                        grid-template-columns: repeat(7, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-8 {
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-9 {
                        grid-template-columns: repeat(9, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-10 {
                        grid-template-columns: repeat(10, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-11 {
                        grid-template-columns: repeat(11, minmax(0, 1fr));
                    }

                    .xl\:grid-cols-12 {
                        grid-template-columns: repeat(12, minmax(0, 1fr));
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:grid-cols-none {
                        grid-template-columns: none;
                    }

                    .\32 xl\:grid-cols-1 {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-2 {
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-3 {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-4 {
                        grid-template-columns: repeat(4, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-5 {
                        grid-template-columns: repeat(5, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-6 {
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-7 {
                        grid-template-columns: repeat(7, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-8 {
                        grid-template-columns: repeat(8, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-9 {
                        grid-template-columns: repeat(9, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-10 {
                        grid-template-columns: repeat(10, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-11 {
                        grid-template-columns: repeat(11, minmax(0, 1fr));
                    }

                    .\32 xl\:grid-cols-12 {
                        grid-template-columns: repeat(12, minmax(0, 1fr));
                    }
                }
            }
        }
    }
}
