// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$names: (
    flex-start: start,
    flex-end: end,
    column: col,
    column-reverse: col-reverse,
    space-between: between,
    space-around: around,
    space-evenly: evenly
);

// --------------------------------- //
// Config
// --------------------------------- //

$breakpoints: () !default;
$breakpoints-reset: false !default;

// --------------------------------- //
// Display
// --------------------------------- //

$display: (
    flex,
    grid
) !default;


// --------------------------------- //
// Height
// --------------------------------- //

$defaults-height: (
    0: 0,
    full: 100%,
    screen: 100vh
) !default;

$min-height: () !default;
$min-height: map.merge($defaults-height, $min-height);

$max-height: () !default;
$max-height: map.merge($defaults-height, $max-height);

$height: () !default;
$height: map.merge($defaults-height, $height);

// --------------------------------- //
// Flex
// --------------------------------- //

$defaults-flex-grow: (
    default: 1,
    0: 0
);

$defaults-flex-shrink: (
    default: 1,
    0: 0
);

$flex-direction: (
    row,
    row-reverse,
    column,
    column-reverse
) !default;

$flex-wrap: (
    wrap,
    wrap-reverse,
    nowrap
) !default;

$flex-grow: () !default;
$flex-grow: map.merge($defaults-flex-grow, $flex-grow);

$flex-shrink: () !default;
$flex-shrink: map.merge($defaults-flex-shrink, $flex-shrink);

// --------------------------------- //
// Align
// --------------------------------- //

$align-self: (
    auto,
    flex-start,
    flex-end,
    center,
    stretch,
    baseline
) !default;

$align-items: (
    flex-start,
    flex-end,
    center,
    baseline,
    stretch
) !default;

$align-content: (
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    space-evenly
) !default;

// --------------------------------- //
// Justify
// --------------------------------- //

$justify-self: (
    auto,
    start,
    end,
    center,
    stretch
) !default;

$justify-items: (
    start,
    end,
    center,
    stretch
) !default;

$justify-content: (
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    space-evenly
) !default;

