// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as align-content;

@include describe("align-content.core-styles()") {
    @include it("Should return all `align-content` declarations.") {
        @include assert {
            @include output(false) {
                @include align-content.core-styles;
            }

            @include expect(false) {
                .align-content-start {
                    align-content: flex-start;
                }

                .align-content-end {
                    align-content: flex-end;
                }

                .align-content-center {
                    align-content: center;
                }

                .align-content-between {
                    align-content: space-between;
                }

                .align-content-around {
                    align-content: space-around;
                }

                .align-content-evenly {
                    align-content: space-evenly;
                }

                @media (min-width: 320px) {
                    .xs\:align-content-start {
                        align-content: flex-start;
                    }

                    .xs\:align-content-end {
                        align-content: flex-end;
                    }

                    .xs\:align-content-center {
                        align-content: center;
                    }

                    .xs\:align-content-between {
                        align-content: space-between;
                    }

                    .xs\:align-content-around {
                        align-content: space-around;
                    }

                    .xs\:align-content-evenly {
                        align-content: space-evenly;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:align-content-start {
                        align-content: flex-start;
                    }

                    .sm\:align-content-end {
                        align-content: flex-end;
                    }

                    .sm\:align-content-center {
                        align-content: center;
                    }

                    .sm\:align-content-between {
                        align-content: space-between;
                    }

                    .sm\:align-content-around {
                        align-content: space-around;
                    }

                    .sm\:align-content-evenly {
                        align-content: space-evenly;
                    }
                }

                @media (min-width: 768px) {
                    .md\:align-content-start {
                        align-content: flex-start;
                    }

                    .md\:align-content-end {
                        align-content: flex-end;
                    }

                    .md\:align-content-center {
                        align-content: center;
                    }

                    .md\:align-content-between {
                        align-content: space-between;
                    }

                    .md\:align-content-around {
                        align-content: space-around;
                    }

                    .md\:align-content-evenly {
                        align-content: space-evenly;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:align-content-start {
                        align-content: flex-start;
                    }

                    .lg\:align-content-end {
                        align-content: flex-end;
                    }

                    .lg\:align-content-center {
                        align-content: center;
                    }

                    .lg\:align-content-between {
                        align-content: space-between;
                    }

                    .lg\:align-content-around {
                        align-content: space-around;
                    }

                    .lg\:align-content-evenly {
                        align-content: space-evenly;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:align-content-start {
                        align-content: flex-start;
                    }

                    .xl\:align-content-end {
                        align-content: flex-end;
                    }

                    .xl\:align-content-center {
                        align-content: center;
                    }

                    .xl\:align-content-between {
                        align-content: space-between;
                    }

                    .xl\:align-content-around {
                        align-content: space-around;
                    }

                    .xl\:align-content-evenly {
                        align-content: space-evenly;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:align-content-start {
                        align-content: flex-start;
                    }

                    .\32 xl\:align-content-end {
                        align-content: flex-end;
                    }

                    .\32 xl\:align-content-center {
                        align-content: center;
                    }

                    .\32 xl\:align-content-between {
                        align-content: space-between;
                    }

                    .\32 xl\:align-content-around {
                        align-content: space-around;
                    }

                    .\32 xl\:align-content-evenly {
                        align-content: space-evenly;
                    }
                }
            }
        }
    }
}
