// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: (
        lg: "1024px"
    ),
    $extend: (
        "align-content": (
            center
        )
    )
);
@use "../../core/config";
@use "../index" as align-content;

@include describe("align-content.core-styles()") {
    @include it("Should return main styles declarations with extended breakpoints.") {
        @include assert {
            @include output(false) {
                @include align-content.core-styles;
            }

            @include expect(false) {
                .align-content-center {
                    align-content: center;
                }

                @media (min-width: 320px) {
                    .xs\:align-content-center {
                        align-content: center;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:align-content-center {
                        align-content: center;
                    }
                }

                @media (min-width: 768px) {
                    .md\:align-content-center {
                        align-content: center;
                    }
                }

                @media (min-width: 1024px) {
                    .lg\:align-content-center {
                        align-content: center;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:align-content-center {
                        align-content: center;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:align-content-center {
                        align-content: center;
                    }
                }
            }
        }
    }
}
