// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false
);
@use "../index" as align-content;

@include describe("align-content.core-styles()") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include align-content.core-styles;
            }

            @include expect(false) {
                .align-content-start {
                    align-content: flex-start;
                }

                .align-content-end {
                    align-content: flex-end;
                }

                .align-content-center {
                    align-content: center;
                }

                .align-content-between {
                    align-content: space-between;
                }

                .align-content-around {
                    align-content: space-around;
                }

                .align-content-evenly {
                    align-content: space-evenly;
                }
            }
        }
    }
}
