// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "background-repeat": (
            "no-repeat"
        )
    )
);

@include describe("background-repeat") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("background-repeat", core.$background-repeat, (
                    "bg": "background-repeat"
                ));
            }

            @include expect(false) {
                .bg-no-repeat {
                   background-repeat: no-repeat;
                 }
            }
        }
    }
}
