// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core;

@include describe("grid-row-start") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grid-row-start", tokens.grid-row-start-values(), (
                    "row-start": "grid-row-start"
                ));
            }

            @include expect(false) {
                .row-start-auto {
                    grid-row-start: auto;
                }

                .row-start-1 {
                    grid-row-start: 1;
                }

                .row-start-2 {
                    grid-row-start: 2;
                }

                .row-start-3 {
                    grid-row-start: 3;
                }

                .row-start-4 {
                    grid-row-start: 4;
                }

                .row-start-5 {
                    grid-row-start: 5;
                }

                .row-start-6 {
                    grid-row-start: 6;
                }

                .row-start-7 {
                    grid-row-start: 7;
                }

                @media (min-width: 320px) {
                    .xs\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .xs\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .xs\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .xs\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .xs\:row-start-4 {
                        grid-row-start: 4;
                    }

                    .xs\:row-start-5 {
                        grid-row-start: 5;
                    }

                    .xs\:row-start-6 {
                        grid-row-start: 6;
                    }

                    .xs\:row-start-7 {
                        grid-row-start: 7;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .sm\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .sm\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .sm\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .sm\:row-start-4 {
                        grid-row-start: 4;
                    }

                    .sm\:row-start-5 {
                        grid-row-start: 5;
                    }

                    .sm\:row-start-6 {
                        grid-row-start: 6;
                    }

                    .sm\:row-start-7 {
                        grid-row-start: 7;
                    }
                }

                @media (min-width: 768px) {
                    .md\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .md\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .md\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .md\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .md\:row-start-4 {
                        grid-row-start: 4;
                    }

                    .md\:row-start-5 {
                        grid-row-start: 5;
                    }

                    .md\:row-start-6 {
                        grid-row-start: 6;
                    }

                    .md\:row-start-7 {
                        grid-row-start: 7;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .lg\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .lg\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .lg\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .lg\:row-start-4 {
                        grid-row-start: 4;
                    }

                    .lg\:row-start-5 {
                        grid-row-start: 5;
                    }

                    .lg\:row-start-6 {
                        grid-row-start: 6;
                    }

                    .lg\:row-start-7 {
                        grid-row-start: 7;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .xl\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .xl\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .xl\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .xl\:row-start-4 {
                        grid-row-start: 4;
                    }

                    .xl\:row-start-5 {
                        grid-row-start: 5;
                    }

                    .xl\:row-start-6 {
                        grid-row-start: 6;
                    }

                    .xl\:row-start-7 {
                        grid-row-start: 7;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:row-start-auto {
                        grid-row-start: auto;
                    }

                    .\32 xl\:row-start-1 {
                        grid-row-start: 1;
                    }

                    .\32 xl\:row-start-2 {
                        grid-row-start: 2;
                    }

                    .\32 xl\:row-start-3 {
                        grid-row-start: 3;
                    }

                    .\32 xl\:row-start-4 {
                        grid-row-start: 4;
                    }

                    .\32 xl\:row-start-5 {
                        grid-row-start: 5;
                    }

                    .\32 xl\:row-start-6 {
                        grid-row-start: 6;
                    }

                    .\32 xl\:row-start-7 {
                        grid-row-start: 7;
                    }
                }
            }
        }
    }
}
