// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "grid-row-start"
    )
);

@include describe("grid-row-start") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .row-start-auto {
                    grid-row-start: auto;
                }

                .row-start-1 {
                    grid-row-start: 1;
                }

                .row-start-2 {
                    grid-row-start: 2;
                }

                .row-start-3 {
                    grid-row-start: 3;
                }

                .row-start-4 {
                    grid-row-start: 4;
                }

                .row-start-5 {
                    grid-row-start: 5;
                }

                .row-start-6 {
                    grid-row-start: 6;
                }

                .row-start-7 {
                    grid-row-start: 7;
                }
            }
        }
    }
}
