// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "font-style"
    ),
    $extend: (
        "font-style": (
            "italic"
        )
    )
);

@include describe("font-style") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .font-italic {
                    font-style: italic;
                }
            }
        }
    }
}
