// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("font-style") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("font-style", tokens.font-style-values(), (
                    "font": "font-style"
                ));
            }

            @include expect(false) {
                .font-normal {
                    font-style: normal;
                }

                .font-italic {
                    font-style: italic;
                }
            }
        }
    }
}
