// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core" with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "max-width": (
            "25": "25%",
            "50": "50%",
            "75": "75%"
        )
    )
);

@include describe("max-width") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("max-width", core.$max-width, "max-w");
            }

            @include expect(false) {
                .max-w-0 {
                    max-width: 0;
                }

                .max-w-full {
                    max-width: 100%;
                }

                .max-w-screen {
                    max-width: 100vw;
                }

                .max-w-25 {
                    max-width: 25%;
                }

                .max-w-50 {
                    max-width: 50%;
                }

                .max-w-75 {
                    max-width: 75%;
                }
            }
        }
    }
}
