// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:meta";
@use "@unsass/utilities";
@use "../../mixins" as core-mixins;
@use "../core";
@use "./variables";

@mixin core-styles {
    .h {
        @include core-mixins.declaration("height") {
            @each $key, $value in variables.$extend {
                @if meta.type-of($key) == "string" {
                    $key: utilities.string-replace($key, "/", \/);
                }

                @if meta.type-of($key) == "string" {
                    $key: utilities.string-replace($key, ".", \.);
                }

                &-#{$key} {
                    height: $value;
                }
            }
        }
    }
}
