// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "../core";

$_defaults: (
    0: 0,
    full: 100%,
    screen: 100vh
);

$extend: core.extend($_defaults, "height");
