// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "grayscale": (
           "50": "0.5"
        )
    )
);

@include describe("grayscale") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grayscale", tokens.filter-grayscale-values(), (
                    "grayscale": "grayscale"
                ));
            }

            @include expect(false) {
                .grayscale {
                    filter: grayscale(1);
                }

                .grayscale-0 {
                    filter: grayscale(0);
                }

                .grayscale-50 {
                    filter: grayscale(0.5);
                }
            }
        }
    }
}
