// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "contrast": (
            50: 0.5
        )
    )
);
@use "../index" as contrast;

@include describe("contrast.core-styles()") {
    @include it("Should return extended `contrast` declarations.") {
        @include assert {
            @include output(false) {
                @include contrast.core-styles;
            }

            @include expect(false) {
                .contrast-0 {
                    filter: contrast(0);
                }

                .contrast-100 {
                    filter: contrast(1);
                }

                .contrast-50 {
                    filter: contrast(0.5);
                }

                @media (min-width: 320px) {
                    .xs\:contrast-0 {
                        filter: contrast(0);
                    }

                    .xs\:contrast-100 {
                        filter: contrast(1);
                    }

                    .xs\:contrast-50 {
                        filter: contrast(0.5);
                    }
                }

                @media (min-width: 480px) {
                    .sm\:contrast-0 {
                        filter: contrast(0);
                    }

                    .sm\:contrast-100 {
                        filter: contrast(1);
                    }

                    .sm\:contrast-50 {
                        filter: contrast(0.5);
                    }
                }

                @media (min-width: 768px) {
                    .md\:contrast-0 {
                        filter: contrast(0);
                    }

                    .md\:contrast-100 {
                        filter: contrast(1);
                    }

                    .md\:contrast-50 {
                        filter: contrast(0.5);
                    }
                }

                @media (min-width: 960px) {
                    .lg\:contrast-0 {
                        filter: contrast(0);
                    }

                    .lg\:contrast-100 {
                        filter: contrast(1);
                    }

                    .lg\:contrast-50 {
                        filter: contrast(0.5);
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:contrast-0 {
                        filter: contrast(0);
                    }

                    .xl\:contrast-100 {
                        filter: contrast(1);
                    }

                    .xl\:contrast-50 {
                        filter: contrast(0.5);
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:contrast-0 {
                        filter: contrast(0);
                    }

                    .\32 xl\:contrast-100 {
                        filter: contrast(1);
                    }

                    .\32 xl\:contrast-50 {
                        filter: contrast(0.5);
                    }
                }
            }
        }
    }
}
