// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "background-repeat": (
            "no-repeat"
        )
    ),
    $core: (
        "background-repeat"
    )
);

@include describe("background-repeat") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .bg-no-repeat {
                   background-repeat: no-repeat;
                 }
            }
        }
    }
}
