// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("background-repeat") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("background-repeat", core.$background-repeat, (
                    "bg": "background-repeat"
                ));
            }

            @include expect(false) {
                .bg-repeat {
                    background-repeat: repeat;
                }

                .bg-no-repeat {
                    background-repeat: no-repeat;
                }

                .bg-repeat-x {
                    background-repeat: repeat-x;
                }

                .bg-repeat-y {
                    background-repeat: repeat-y;
                }

                .bg-repeat-round {
                    background-repeat: round;
                }

                .bg-repeat-space {
                    background-repeat: space;
                }
            }
        }
    }
}
