// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "pointer-events"
    )
);

@include describe("pointer-events") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .pointer-events-none {
                    pointer-events: none;
                }

                .pointer-events-auto {
                    pointer-events: auto;
                }
            }
        }
    }
}
