// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "background-clip": (
            "content"
        )
    )
);

@include describe("background-clip") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("background-clip", core.background-clip-values(), (
                    "bg-clip": "background-clip"
                ));
            }

            @include expect(false) {
                .bg-clip-content {
                    background-clip: content-box;
                }
            }
        }
    }
}
