// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "sass:string";
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "background-position"
    ),
    $extend: (
        "background-position": (
            "left-top": "left top"
        )
    )
);

@include describe("background-position") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .bg-position-bottom {
                    background-position: bottom;
                }

                .bg-position-center {
                    background-position: center;
                }

                .bg-position-left {
                    background-position: left;
                }

                .bg-position-right {
                    background-position: right;
                }

                .bg-position-top {
                    background-position: top;
                }

                .bg-position-left-top {
                    background-position: left top;
                }
            }
        }
    }
}
