// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("grid-row-end") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grid-row-end", tokens.grid-row-end-values(), (
                    "row-end": "grid-row-end"
                ));
            }

            @include expect(false) {
                .row-end-auto {
                    grid-row-end: auto;
                }

                .row-end-1 {
                    grid-row-end: 1;
                }

                .row-end-2 {
                    grid-row-end: 2;
                }

                .row-end-3 {
                    grid-row-end: 3;
                }

                .row-end-4 {
                    grid-row-end: 4;
                }

                .row-end-5 {
                    grid-row-end: 5;
                }

                .row-end-6 {
                    grid-row-end: 6;
                }

                .row-end-7 {
                    grid-row-end: 7;
                }
            }
        }
    }
}
