// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core;

@include describe("background-image") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("background-image", core.background-image-values(), (
                    "bg-image": "background-image"
                ));
            }

            @include expect(false) {
                .bg-image-none {
                    background-image: none;
                }

                @media (min-width: 320px) {
                    .xs\:bg-image-none {
                        background-image: none;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:bg-image-none {
                        background-image: none;
                    }
                }

                @media (min-width: 768px) {
                    .md\:bg-image-none {
                        background-image: none;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:bg-image-none {
                        background-image: none;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:bg-image-none {
                        background-image: none;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:bg-image-none {
                        background-image: none;
                    }
                }
            }
        }
    }
}
