// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "right"
    ),
    $extend: (
        "right": (
            "10": "10px"
        )
    )
);

@include describe("right") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .right-0 {
                    right: 0;
                }

                .right-10 {
                    right: 10px;
                }
            }
        }
    }
}
