// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../../index" with (
    $extend: (
        "justify-self": (
            center
        )
    )
);
@use "../index" as justify-self;

@include describe("justify-self.core-styles()") {
    @include it("Should return extended `justify-self` declarations.") {
        @include assert {
            @include output(false) {
                @include justify-self.core-styles;
            }

            @include expect(false) {
                .justify-self-center {
                    justify-self: center;
                }

                @media (min-width: 320px) {
                    .xs\:justify-self-center {
                        justify-self: center;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:justify-self-center {
                        justify-self: center;
                    }
                }

                @media (min-width: 768px) {
                    .md\:justify-self-center {
                        justify-self: center;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:justify-self-center {
                        justify-self: center;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:justify-self-center {
                        justify-self: center;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:justify-self-center {
                        justify-self: center;
                    }
                }
            }
        }
    }
}
