// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as justify-self;

@include describe("justify-self.core-styles()") {
    @include it("Should return all `justify-self` declarations.") {
        @include assert {
            @include output(false) {
                @include justify-self.core-styles;
            }

            @include expect(false) {
                .justify-self-auto {
                    justify-self: auto;
                }

                .justify-self-start {
                    justify-self: start;
                }

                .justify-self-end {
                    justify-self: end;
                }

                .justify-self-center {
                    justify-self: center;
                }

                .justify-self-stretch {
                    justify-self: stretch;
                }

                @media (min-width: 320px) {
                    .xs\:justify-self-auto {
                        justify-self: auto;
                    }

                    .xs\:justify-self-start {
                        justify-self: start;
                    }

                    .xs\:justify-self-end {
                        justify-self: end;
                    }

                    .xs\:justify-self-center {
                        justify-self: center;
                    }

                    .xs\:justify-self-stretch {
                        justify-self: stretch;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:justify-self-auto {
                        justify-self: auto;
                    }

                    .sm\:justify-self-start {
                        justify-self: start;
                    }

                    .sm\:justify-self-end {
                        justify-self: end;
                    }

                    .sm\:justify-self-center {
                        justify-self: center;
                    }

                    .sm\:justify-self-stretch {
                        justify-self: stretch;
                    }
                }

                @media (min-width: 768px) {
                    .md\:justify-self-auto {
                        justify-self: auto;
                    }

                    .md\:justify-self-start {
                        justify-self: start;
                    }

                    .md\:justify-self-end {
                        justify-self: end;
                    }

                    .md\:justify-self-center {
                        justify-self: center;
                    }

                    .md\:justify-self-stretch {
                        justify-self: stretch;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:justify-self-auto {
                        justify-self: auto;
                    }

                    .lg\:justify-self-start {
                        justify-self: start;
                    }

                    .lg\:justify-self-end {
                        justify-self: end;
                    }

                    .lg\:justify-self-center {
                        justify-self: center;
                    }

                    .lg\:justify-self-stretch {
                        justify-self: stretch;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:justify-self-auto {
                        justify-self: auto;
                    }

                    .xl\:justify-self-start {
                        justify-self: start;
                    }

                    .xl\:justify-self-end {
                        justify-self: end;
                    }

                    .xl\:justify-self-center {
                        justify-self: center;
                    }

                    .xl\:justify-self-stretch {
                        justify-self: stretch;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:justify-self-auto {
                        justify-self: auto;
                    }

                    .\32 xl\:justify-self-start {
                        justify-self: start;
                    }

                    .\32 xl\:justify-self-end {
                        justify-self: end;
                    }

                    .\32 xl\:justify-self-center {
                        justify-self: center;
                    }

                    .\32 xl\:justify-self-stretch {
                        justify-self: stretch;
                    }
                }
            }
        }
    }
}
