// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:meta";
@use "@unsass/utilities";
@use "@lasco/core";
@use "./variables";

@mixin core-styles {
    .min-h {
        @include core.declaration("min-height") {
            @each $key, $value in variables.$extend {
                @if meta.type-of($key) == "string" {
                    $key: utilities.string-replace($key, "/", \/);
                }

                @if meta.type-of($key) == "string" {
                    $key: utilities.string-replace($key, ".", \.);
                }

                &-#{$key} {
                    min-height: $value;
                }
            }
        }
    }
}
