// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "../core";
@use "./variables";

@mixin core-styles {
    @each $key in variables.$extend {
        $value: $key;

        @if ($key == hidden) {
            $value: none;
        }

        .flex-#{$key} {
            @include core.declaration("flex-wrap") {
                flex-wrap: $value;
            }
        }
    }
}
