// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0,
    100: 1
);

$opacity: () !default;
$opacity: map.merge($_defaults, $opacity);
