// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "visibility"
    )
);

@include describe("visibility") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .visible {
                    visibility: visible;
                }

                .invisible {
                    visibility: hidden;
                }
            }
        }
    }
}
