// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "../../../../functions" as core-functions;

$_defaults: (
    0: 0,
    full: 100%,
    screen: 100vh
);

$extend: core-functions.extend("max-height", $_defaults);
