// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults-min-height: (
    0: 0,
    full: 100%,
    screen: 100vh
);

$min-height: () !default;
$min-height: map.merge($_defaults-min-height, $min-height);
