// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "background-color": (
            "black": "#000"
        )
    )
);

@include describe("background-color") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("background-color", tokens.background-color-values(), (
                    "bg-color": "background-color"
                ));
            }

            @include expect(false) {
                .bg-color-inherit {
                    background-color: inherit;
                }

                .bg-color-current {
                    background-color: currentColor;
                }

                .bg-color-transparent {
                    background-color: transparent;
                }

                .bg-color-black {
                    background-color: #000;
                }
            }
        }
    }
}
