// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "../core";

$_defaults: (
    0: 0,
    full: 100%,
    min: min-content,
    max: max-content,
    fit: fit-content
);

$extend: core.extend($_defaults, "max-width");
