// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "position": (
            "fixed"
        )
    )
);

@include describe("position") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("position", core.position-values());
            }

            @include expect(false) {
                 .fixed {
                   position: fixed;
                 }
            }
        }
    }
}
