// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "position"
    )
);

@include describe("position") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .absolute {
                    position: absolute;
                }

                .fixed {
                    position: fixed;
                }

                .relative {
                    position: relative;
                }

                .static {
                    position: static;
                }

                .sticky {
                    position: sticky;
                }
            }
        }
    }
}
