// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("position") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("position", tokens.position-values());
            }

            @include expect(false) {
                .absolute {
                    position: absolute;
                }

                .fixed {
                    position: fixed;
                }

                .relative {
                    position: relative;
                }

                .static {
                    position: static;
                }

                .sticky {
                    position: sticky;
                }
            }
        }
    }
}

@include describe("top") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("top", tokens.position-top-values(), (
                    "top": "top"
                ));
            }

            @include expect(false) {
                .top-0 {
                    top: 0;
                }
            }
        }
    }
}

@include describe("right") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("right", tokens.position-right-values(), (
                    "right": "right"
                ));
            }

            @include expect(false) {
                .right-0 {
                    right: 0;
                }
            }
        }
    }
}

@include describe("bottom") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("bottom", tokens.position-bottom-values(), (
                    "bottom": "bottom"
                ));
            }

            @include expect(false) {
                .bottom-0 {
                    bottom: 0;
                }
            }
        }
    }
}

@include describe("left") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("left", tokens.position-left-values(), (
                    "left": "left"
                ));
            }

            @include expect(false) {
                .left-0 {
                    left: 0;
                }
            }
        }
    }
}
