// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("flex-basis") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("flex-basis", core.$flex-basis, (
                    "flex-basis": "flex-basis"
                ));
            }

            @include expect(false) {
                .flex-basis-0 {
                    flex-basis: 0;
                }

                .flex-basis-auto {
                    flex-basis: auto;
                }

                .flex-basis-full {
                    flex-basis: 100%;
                }
            }
        }
    }
}
