// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "background-origin": (
            "content"
        )
    )
);

@include describe("background-origin") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("background-origin", tokens.background-origin-values(), (
                    "bg-origin": "background-origin"
                ));
            }

            @include expect(false) {
                .bg-origin-content {
                    background-origin: content-box;
                }
            }
        }
    }
}
