// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "background-origin": (
            "content"
        )
    ),
    $core: (
        "background-origin"
    )
);

@include describe("background-origin") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .bg-origin-content {
                    background-origin: content-box;
                }
            }
        }
    }
}
