// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "flex-direction": (
            "column"
        )
    )
);

@include describe("flex-direction") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("flex-direction", core.flex-direction-values(), (
                    "flex": "flex-direction"
                ));
            }

            @include expect(false) {
                .flex-column {
                    flex-direction: column;
                }
            }
        }
    }
}
