// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    "auto": "auto",
    "cover": "cover",
    "contain": "contain"
);

$bg-size: () !default;
$bg-size: map.merge($_defaults, $bg-size);
