// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as core;

@include describe("core.create()") {
    @include it("Should return declarations from list.") {
        @include assert {
            @include output(false) {
                @include core.addUtility("clear", core.$clear);
            }

            @include expect(false) {
                .clear-none {
                    clear: none;
                }

                .clear-left {
                    clear: left;
                }

                .clear-right {
                    clear: right;
                }

                .clear-both {
                    clear: both;
                }
            }
        }
    }

    @include it("Should return declarations from map.") {
        @include assert {
            @include output(false) {
                @include core.addUtility("display", core.$display);
            }

            @include expect(false) {
                .block {
                    display: block;
                }

                .inline-block {
                    display: inline-block;
                }

                .flex {
                    display: flex;
                }

                .inline-flex {
                    display: inline-flex;
                }

                .grid {
                    display: grid;
                }

                .inline-grid {
                    display: inline-grid;
                }

                .table {
                    display: table;
                }

                .inline-table {
                    display: inline-table;
                }

                .hidden {
                    display: none;
                }
            }
        }
    }
}
