// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core" with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "float": (
            "left"
        )
    )
);

@include describe("float") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("float", core.$float, (
                    "float": "float"
                ));
            }

            @include expect(false) {
                .float-left {
                    float: left;
                }
            }
        }
    }
}
