// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core";

@include describe("float") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("float", core.$float, (
                    "float": "float"
                ));
            }

            @include expect(false) {
                .float-left {
                    float: left;
                }

                .float-right {
                    float: right;
                }

                .float-none {
                    float: none;
                }

                @media (min-width: 320px) {
                    .xs\:float-left {
                        float: left;
                    }

                    .xs\:float-right {
                        float: right;
                    }

                    .xs\:float-none {
                        float: none;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:float-left {
                        float: left;
                    }

                    .sm\:float-right {
                        float: right;
                    }

                    .sm\:float-none {
                        float: none;
                    }
                }

                @media (min-width: 768px) {
                    .md\:float-left {
                        float: left;
                    }

                    .md\:float-right {
                        float: right;
                    }

                    .md\:float-none {
                        float: none;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:float-left {
                        float: left;
                    }

                    .lg\:float-right {
                        float: right;
                    }

                    .lg\:float-none {
                        float: none;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:float-left {
                        float: left;
                    }

                    .xl\:float-right {
                        float: right;
                    }

                    .xl\:float-none {
                        float: none;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:float-left {
                        float: left;
                    }

                    .\32 xl\:float-right {
                        float: right;
                    }

                    .\32 xl\:float-none {
                        float: none;
                    }
                }
            }
        }
    }
}
