// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as brightness;

@include describe("brightness.core-styles()") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include brightness.core-styles;
            }

            @include expect(false) {
                .brightness-0 {
                    filter: brightness(0);
                }

                .brightness-100 {
                    filter: brightness(1);
                }

                @media (min-width: 320px) {
                    .xs\:brightness-0 {
                        filter: brightness(0);
                    }

                    .xs\:brightness-100 {
                        filter: brightness(1);
                    }
                }

                @media (min-width: 480px) {
                    .sm\:brightness-0 {
                        filter: brightness(0);
                    }

                    .sm\:brightness-100 {
                        filter: brightness(1);
                    }
                }

                @media (min-width: 768px) {
                    .md\:brightness-0 {
                        filter: brightness(0);
                    }

                    .md\:brightness-100 {
                        filter: brightness(1);
                    }
                }

                @media (min-width: 960px) {
                    .lg\:brightness-0 {
                        filter: brightness(0);
                    }

                    .lg\:brightness-100 {
                        filter: brightness(1);
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:brightness-0 {
                        filter: brightness(0);
                    }

                    .xl\:brightness-100 {
                        filter: brightness(1);
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:brightness-0 {
                        filter: brightness(0);
                    }

                    .\32 xl\:brightness-100 {
                        filter: brightness(1);
                    }
                }
            }
        }
    }
}
