// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "flex-shrink": (
            "2": "2"
        )
    )
);

@include describe("flex-shrink") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("flex-shrink", tokens.flex-shrink-values(), (
                    "flex-shrink": "flex-shrink"
                ));
            }

            @include expect(false) {
                .flex-shrink {
                    flex-shrink: 1;
                }

                .flex-shrink-0 {
                    flex-shrink: 0;
                }

                .flex-shrink-2 {
                    flex-shrink: 2;
                }
            }
        }
    }
}
