// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "flex-shrink"
    )
);

@include describe("flex-shrink") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .flex-shrink {
                    flex-shrink: 1;
                }

                .flex-shrink-0 {
                    flex-shrink: 0;
                }
            }
        }
    }
}
