// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "@unsass/utilities";
@use "../../core";
@use "./variables";

@mixin core-styles {
    .align-content {
        @include core.declaration("align-content") {
            @each $key in variables.$extend {
                $suffix: $key;

                @if map.has-key(core.$names, $key) {
                    $suffix: map.get(core.$names, $key);
                }

                &-#{$suffix} {
                    align-content: $key;
                }
            }
        }
    }
}
