// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "text-transform"
    ),
    $extend: (
        "text-transform": (
            "lowercase"
        )
    )
);

@include describe("text-transform") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .text-lowercase {
                    text-transform: lowercase;
                }
            }
        }
    }
}
