// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("text-transform") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("text-transform", core.$text-transform, (
                    "text": "text-transform"
                ));
            }

            @include expect(false) {
                .text-normal {
                    text-transform: none;
                }

                .text-uppercase {
                    text-transform: uppercase;
                }

                .text-lowercase {
                    text-transform: lowercase;
                }

                .text-capitalize {
                    text-transform: capitalize;
                }
            }
        }
    }
}
