// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "place-content"
    )
);

@include describe("place-content") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .place-content-start {
                    place-content: start;
                }

                .place-content-end {
                    place-content: end;
                }

                .place-content-center {
                    place-content: center;
                }

                .place-content-space-between {
                    place-content: space-between;
                }

                .place-content-space-around {
                    place-content: space-around;
                }

                .place-content-space-evenly {
                    place-content: space-evenly;
                }

                .place-content-stretch {
                    place-content: stretch;
                }
            }
        }
    }
}
