// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false,
    $extend: (
        "aspect-ratio": (
            "4/3": "4/3"
        )
    )
);
@use "../index" as aspect-ratio;

@include describe("aspect-ratio.core-styles()") {
    @include it("Should return main styles extended declarations.") {
        @include assert {
            @include output(false) {
                @include aspect-ratio.core-styles;
            }

            @include expect(false) {
                .aspect-auto {
                    aspect-ratio: auto;
                }

                .aspect-square {
                    aspect-ratio: 1/1;
                }

                .aspect-video {
                    aspect-ratio: 16/9;
                }

                .aspect-4\/3 {
                    aspect-ratio: 4/3;
                }
            }
        }
    }
}
