// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core;

@include describe("height") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("height", core.height-values(), (
                    "h": "height"
                ));
            }

            @include expect(false) {
                .h-0 {
                    height: 0;
                }

                .h-auto {
                    height: auto;
                }

                .h-full {
                    height: 100%;
                }

                .h-screen {
                    height: 100vh;
                }

                .h-min {
                    height: min-content;
                }

                .h-max {
                    height: max-content;
                }

                .h-fit {
                    height: fit-content;
                }

                @media (min-width: 320px) {
                    .xs\:h-0 {
                        height: 0;
                    }

                    .xs\:h-auto {
                        height: auto;
                    }

                    .xs\:h-full {
                        height: 100%;
                    }

                    .xs\:h-screen {
                        height: 100vh;
                    }

                    .xs\:h-min {
                        height: min-content;
                    }

                    .xs\:h-max {
                        height: max-content;
                    }

                    .xs\:h-fit {
                        height: fit-content;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:h-0 {
                        height: 0;
                    }

                    .sm\:h-auto {
                        height: auto;
                    }

                    .sm\:h-full {
                        height: 100%;
                    }

                    .sm\:h-screen {
                        height: 100vh;
                    }

                    .sm\:h-min {
                        height: min-content;
                    }

                    .sm\:h-max {
                        height: max-content;
                    }

                    .sm\:h-fit {
                        height: fit-content;
                    }
                }

                @media (min-width: 768px) {
                    .md\:h-0 {
                        height: 0;
                    }

                    .md\:h-auto {
                        height: auto;
                    }

                    .md\:h-full {
                        height: 100%;
                    }

                    .md\:h-screen {
                        height: 100vh;
                    }

                    .md\:h-min {
                        height: min-content;
                    }

                    .md\:h-max {
                        height: max-content;
                    }

                    .md\:h-fit {
                        height: fit-content;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:h-0 {
                        height: 0;
                    }

                    .lg\:h-auto {
                        height: auto;
                    }

                    .lg\:h-full {
                        height: 100%;
                    }

                    .lg\:h-screen {
                        height: 100vh;
                    }

                    .lg\:h-min {
                        height: min-content;
                    }

                    .lg\:h-max {
                        height: max-content;
                    }

                    .lg\:h-fit {
                        height: fit-content;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:h-0 {
                        height: 0;
                    }

                    .xl\:h-auto {
                        height: auto;
                    }

                    .xl\:h-full {
                        height: 100%;
                    }

                    .xl\:h-screen {
                        height: 100vh;
                    }

                    .xl\:h-min {
                        height: min-content;
                    }

                    .xl\:h-max {
                        height: max-content;
                    }

                    .xl\:h-fit {
                        height: fit-content;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:h-0 {
                        height: 0;
                    }

                    .\32 xl\:h-auto {
                        height: auto;
                    }

                    .\32 xl\:h-full {
                        height: 100%;
                    }

                    .\32 xl\:h-screen {
                        height: 100vh;
                    }

                    .\32 xl\:h-min {
                        height: min-content;
                    }

                    .\32 xl\:h-max {
                        height: max-content;
                    }

                    .\32 xl\:h-fit {
                        height: fit-content;
                    }
                }
            }
        }
    }
}
