// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "brightness"
    )
);

@include describe("brightness") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .brightness-0 {
                    filter: brightness(0);
                }

                .brightness-100 {
                    filter: brightness(1);
                }
            }
        }
    }
}
