// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "@lasco/core";
@use "./variables";

@mixin core-styles {
    .place-self {
        @include core.declaration("place-self") {
            @each $key in variables.$extend {
                $suffix: $key;

                @if map.has-key(core.$names, $key) {
                    $suffix: map.get(core.$names, $key);
                }

                &-#{$suffix} {
                    place-self: $key;
                }
            }
        }
    }
}
