// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "../../functions" as core-functions;

$_defaults: (
    0: 0,
    auto: auto
);

$extend: core-functions.extend("z-index", $_defaults);
