// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "@lasco/core";

$_defaults: (
    0: 0,
    auto: auto
);

$extend: core.extend("z-index", $_defaults);
