// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0,
    full: 100%,
    screen: 100vh
);

$height: () !default;
$height: map.merge($_defaults, $height);
