// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    bottom: bottom,
    center: center,
    left: left,
    right: right,
    top: top
);

$bg-position: () !default;
$bg-position: map.merge($_defaults, $bg-position);
