// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    )
);

@include describe("flex-grow") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("flex-grow", core.flex-grow-values(), (
                    "flex-grow": "flex-grow"
                ));
            }

            @include expect(false) {
                .flex-grow {
                    flex-grow: 1;
                }

                .flex-grow-0 {
                    flex-grow: 0;
                }
            }
        }
    }
}
