// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "contrast"
    ),
    $extend: (
        "contrast": (
           "50": "0.5"
        )
    )
);

@include describe("contrast") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .contrast-0 {
                    filter: contrast(0);
                }

                .contrast-100 {
                    filter: contrast(1);
                }

                .contrast-50 {
                    filter: contrast(0.5);
                }
            }
        }
    }
}
