// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    )
);

@include describe("contrast") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("contrast", core.filter-contrast-values(), (
                    "contrast": "contrast"
                ));
            }

            @include expect(false) {
                .contrast-0 {
                    filter: contrast(0);
                }

                .contrast-100 {
                    filter: contrast(1);
                }
            }
        }
    }
}
