// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../../index" with (
    $extend: (
        "min-height": (
            25: 25%,
            50: 50%,
            75: 75%
        )
    )
);
@use "../index" as min-height;

@include describe("min-height.core-styles()") {
    @include it("Should return extended `min-height` declarations.") {
        @include assert {
            @include output(false) {
                @include min-height.core-styles;
            }

            @include expect(false) {
                .min-h-0 {
                    min-height: 0;
                }

                .min-h-full {
                    min-height: 100%;
                }

                .min-h-screen {
                    min-height: 100vh;
                }

                @media (min-width: 320px) {
                    .xs\:min-h-0 {
                        min-height: 0;
                    }

                    .xs\:min-h-full {
                        min-height: 100%;
                    }

                    .xs\:min-h-screen {
                        min-height: 100vh;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:min-h-0 {
                        min-height: 0;
                    }

                    .sm\:min-h-full {
                        min-height: 100%;
                    }

                    .sm\:min-h-screen {
                        min-height: 100vh;
                    }
                }

                @media (min-width: 768px) {
                    .md\:min-h-0 {
                        min-height: 0;
                    }

                    .md\:min-h-full {
                        min-height: 100%;
                    }

                    .md\:min-h-screen {
                        min-height: 100vh;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:min-h-0 {
                        min-height: 0;
                    }

                    .lg\:min-h-full {
                        min-height: 100%;
                    }

                    .lg\:min-h-screen {
                        min-height: 100vh;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:min-h-0 {
                        min-height: 0;
                    }

                    .xl\:min-h-full {
                        min-height: 100%;
                    }

                    .xl\:min-h-screen {
                        min-height: 100vh;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:min-h-0 {
                        min-height: 0;
                    }

                    .\32 xl\:min-h-full {
                        min-height: 100%;
                    }

                    .\32 xl\:min-h-screen {
                        min-height: 100vh;
                    }
                }
            }
        }
    }
}
