// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core";

@include describe("clear") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("clear", core.$clear, (
                    "clear": "clear"
                ));
            }

            @include expect(false) {
                .clear-none {
                    clear: none;
                }

                .clear-left {
                    clear: left;
                }

                .clear-right {
                    clear: right;
                }

                .clear-both {
                    clear: both;
                }

                @media (min-width: 320px) {
                    .xs\:clear-none {
                        clear: none;
                    }

                    .xs\:clear-left {
                        clear: left;
                    }

                    .xs\:clear-right {
                        clear: right;
                    }

                    .xs\:clear-both {
                        clear: both;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:clear-none {
                        clear: none;
                    }

                    .sm\:clear-left {
                        clear: left;
                    }

                    .sm\:clear-right {
                        clear: right;
                    }

                    .sm\:clear-both {
                        clear: both;
                    }
                }

                @media (min-width: 768px) {
                    .md\:clear-none {
                        clear: none;
                    }

                    .md\:clear-left {
                        clear: left;
                    }

                    .md\:clear-right {
                        clear: right;
                    }

                    .md\:clear-both {
                        clear: both;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:clear-none {
                        clear: none;
                    }

                    .lg\:clear-left {
                        clear: left;
                    }

                    .lg\:clear-right {
                        clear: right;
                    }

                    .lg\:clear-both {
                        clear: both;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:clear-none {
                        clear: none;
                    }

                    .xl\:clear-left {
                        clear: left;
                    }

                    .xl\:clear-right {
                        clear: right;
                    }

                    .xl\:clear-both {
                        clear: both;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:clear-none {
                        clear: none;
                    }

                    .\32 xl\:clear-left {
                        clear: left;
                    }

                    .\32 xl\:clear-right {
                        clear: right;
                    }

                    .\32 xl\:clear-both {
                        clear: both;
                    }
                }
            }
        }
    }
}
