// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core;

@include describe("grid-column-end") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grid-column-end", core.$grid-column-end, (
                    "col-end": "grid-column-end"
                ));
            }

            @include expect(false) {
                .col-end-auto {
                    grid-column-end: auto;
                }

                .col-end-1 {
                    grid-column-end: 1;
                }

                .col-end-2 {
                    grid-column-end: 2;
                }

                .col-end-3 {
                    grid-column-end: 3;
                }

                .col-end-4 {
                    grid-column-end: 4;
                }

                .col-end-5 {
                    grid-column-end: 5;
                }

                .col-end-6 {
                    grid-column-end: 6;
                }

                .col-end-7 {
                    grid-column-end: 7;
                }

                .col-end-8 {
                    grid-column-end: 8;
                }

                .col-end-9 {
                    grid-column-end: 9;
                }

                .col-end-10 {
                    grid-column-end: 10;
                }

                .col-end-11 {
                    grid-column-end: 11;
                }

                .col-end-12 {
                    grid-column-end: 12;
                }

                .col-end-13 {
                    grid-column-end: 13;
                }

                @media (min-width: 320px) {
                    .xs\:col-end-auto {
                        grid-column-end: auto;
                    }

                    .xs\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .xs\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .xs\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .xs\:col-end-4 {
                        grid-column-end: 4;
                    }

                    .xs\:col-end-5 {
                        grid-column-end: 5;
                    }

                    .xs\:col-end-6 {
                        grid-column-end: 6;
                    }

                    .xs\:col-end-7 {
                        grid-column-end: 7;
                    }

                    .xs\:col-end-8 {
                        grid-column-end: 8;
                    }

                    .xs\:col-end-9 {
                        grid-column-end: 9;
                    }

                    .xs\:col-end-10 {
                        grid-column-end: 10;
                    }

                    .xs\:col-end-11 {
                        grid-column-end: 11;
                    }

                    .xs\:col-end-12 {
                        grid-column-end: 12;
                    }

                    .xs\:col-end-13 {
                        grid-column-end: 13;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:col-end-auto {
                        grid-column-end: auto;
                    }

                    .sm\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .sm\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .sm\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .sm\:col-end-4 {
                        grid-column-end: 4;
                    }

                    .sm\:col-end-5 {
                        grid-column-end: 5;
                    }

                    .sm\:col-end-6 {
                        grid-column-end: 6;
                    }

                    .sm\:col-end-7 {
                        grid-column-end: 7;
                    }

                    .sm\:col-end-8 {
                        grid-column-end: 8;
                    }

                    .sm\:col-end-9 {
                        grid-column-end: 9;
                    }

                    .sm\:col-end-10 {
                        grid-column-end: 10;
                    }

                    .sm\:col-end-11 {
                        grid-column-end: 11;
                    }

                    .sm\:col-end-12 {
                        grid-column-end: 12;
                    }

                    .sm\:col-end-13 {
                        grid-column-end: 13;
                    }
                }

                @media (min-width: 768px) {
                    .md\:col-end-auto {
                        grid-column-end: auto;
                    }

                    .md\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .md\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .md\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .md\:col-end-4 {
                        grid-column-end: 4;
                    }

                    .md\:col-end-5 {
                        grid-column-end: 5;
                    }

                    .md\:col-end-6 {
                        grid-column-end: 6;
                    }

                    .md\:col-end-7 {
                        grid-column-end: 7;
                    }

                    .md\:col-end-8 {
                        grid-column-end: 8;
                    }

                    .md\:col-end-9 {
                        grid-column-end: 9;
                    }

                    .md\:col-end-10 {
                        grid-column-end: 10;
                    }

                    .md\:col-end-11 {
                        grid-column-end: 11;
                    }

                    .md\:col-end-12 {
                        grid-column-end: 12;
                    }

                    .md\:col-end-13 {
                        grid-column-end: 13;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:col-end-auto {
                        grid-column-end: auto;
                    }

                    .lg\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .lg\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .lg\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .lg\:col-end-4 {
                        grid-column-end: 4;
                    }

                    .lg\:col-end-5 {
                        grid-column-end: 5;
                    }

                    .lg\:col-end-6 {
                        grid-column-end: 6;
                    }

                    .lg\:col-end-7 {
                        grid-column-end: 7;
                    }

                    .lg\:col-end-8 {
                        grid-column-end: 8;
                    }

                    .lg\:col-end-9 {
                        grid-column-end: 9;
                    }

                    .lg\:col-end-10 {
                        grid-column-end: 10;
                    }

                    .lg\:col-end-11 {
                        grid-column-end: 11;
                    }

                    .lg\:col-end-12 {
                        grid-column-end: 12;
                    }

                    .lg\:col-end-13 {
                        grid-column-end: 13;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:col-end-auto {
                        grid-column-end: auto;
                    }

                    .xl\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .xl\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .xl\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .xl\:col-end-4 {
                        grid-column-end: 4;
                    }

                    .xl\:col-end-5 {
                        grid-column-end: 5;
                    }

                    .xl\:col-end-6 {
                        grid-column-end: 6;
                    }

                    .xl\:col-end-7 {
                        grid-column-end: 7;
                    }

                    .xl\:col-end-8 {
                        grid-column-end: 8;
                    }

                    .xl\:col-end-9 {
                        grid-column-end: 9;
                    }

                    .xl\:col-end-10 {
                        grid-column-end: 10;
                    }

                    .xl\:col-end-11 {
                        grid-column-end: 11;
                    }

                    .xl\:col-end-12 {
                        grid-column-end: 12;
                    }

                    .xl\:col-end-13 {
                        grid-column-end: 13;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:col-end-auto {
                        grid-column-end: auto;
                    }

                    .\32 xl\:col-end-1 {
                        grid-column-end: 1;
                    }

                    .\32 xl\:col-end-2 {
                        grid-column-end: 2;
                    }

                    .\32 xl\:col-end-3 {
                        grid-column-end: 3;
                    }

                    .\32 xl\:col-end-4 {
                        grid-column-end: 4;
                    }

                    .\32 xl\:col-end-5 {
                        grid-column-end: 5;
                    }

                    .\32 xl\:col-end-6 {
                        grid-column-end: 6;
                    }

                    .\32 xl\:col-end-7 {
                        grid-column-end: 7;
                    }

                    .\32 xl\:col-end-8 {
                        grid-column-end: 8;
                    }

                    .\32 xl\:col-end-9 {
                        grid-column-end: 9;
                    }

                    .\32 xl\:col-end-10 {
                        grid-column-end: 10;
                    }

                    .\32 xl\:col-end-11 {
                        grid-column-end: 11;
                    }

                    .\32 xl\:col-end-12 {
                        grid-column-end: 12;
                    }

                    .\32 xl\:col-end-13 {
                        grid-column-end: 13;
                    }
                }
            }
        }
    }
}
