// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("aspect-ratio") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("aspect-ratio", tokens.aspect-ratio-values(),  (
                    "aspect": 'aspect-ratio'
                ));
            }

            @include expect(false) {
                .aspect-auto {
                    aspect-ratio: auto;
                }

                .aspect-square {
                    aspect-ratio: 1/1;
                }

                .aspect-video {
                    aspect-ratio: 16/9;
                }
            }
        }
    }
}
