// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "aspect-ratio"
    )
);

@include describe("aspect-ratio") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .aspect-auto {
                    aspect-ratio: auto;
                }

                .aspect-square {
                    aspect-ratio: 1/1;
                }

                .aspect-video {
                    aspect-ratio: 16/9;
                }
            }
        }
    }
}
