// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "flex-basis"
    ),
    $extend: (
        "flex-basis": (
            "50": "50%"
        )
    )
);

@include describe("flex-basis") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .flex-basis-0 {
                    flex-basis: 0;
                }

                .flex-basis-auto {
                    flex-basis: auto;
                }

                .flex-basis-full {
                    flex-basis: 100%;
                }

                .flex-basis-50 {
                    flex-basis: 50%;
                }
            }
        }
    }
}
