// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core;

@include describe("flex-basis") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("flex-basis", tokens.flex-basis-values(), (
                    "flex-basis": "flex-basis"
                ));
            }

            @include expect(false) {
                .flex-basis-0 {
                    flex-basis: 0;
                }

                .flex-basis-auto {
                    flex-basis: auto;
                }

                .flex-basis-full {
                    flex-basis: 100%;
                }

                @media (min-width: 320px) {
                    .xs\:flex-basis-0 {
                        flex-basis: 0;
                    }

                    .xs\:flex-basis-auto {
                        flex-basis: auto;
                    }

                    .xs\:flex-basis-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:flex-basis-0 {
                        flex-basis: 0;
                    }

                    .sm\:flex-basis-auto {
                        flex-basis: auto;
                    }

                    .sm\:flex-basis-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 768px) {
                    .md\:flex-basis-0 {
                        flex-basis: 0;
                    }

                    .md\:flex-basis-auto {
                        flex-basis: auto;
                    }

                    .md\:flex-basis-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:flex-basis-0 {
                        flex-basis: 0;
                    }

                    .lg\:flex-basis-auto {
                        flex-basis: auto;
                    }

                    .lg\:flex-basis-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:flex-basis-0 {
                        flex-basis: 0;
                    }

                    .xl\:flex-basis-auto {
                        flex-basis: auto;
                    }

                    .xl\:flex-basis-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:flex-basis-0 {
                        flex-basis: 0;
                    }

                    .\32 xl\:flex-basis-auto {
                        flex-basis: auto;
                    }

                    .\32 xl\:flex-basis-full {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}
