// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "clear": (
            "left"
        )
    ),
    $core: (
        "brightness"
    )
);

@include describe("clear") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .clear-left {
                    clear: left;
                }
            }
        }
    }
}
