// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "@lasco/core";

$_defaults: (
    0: 0,
    full: 100%,
    screen: 100vw
);

$extend: core.extend("width", $_defaults);
