// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "../core";
@use "./variables";

@mixin core-styles {
    @each $key in variables.$extend {
        $value: $key;

        @if ($key == normal) {
            $value: none;
        }

        .text-#{$key} {
            @include core.declaration("text-transform") {
                text-transform: $value;
            }
        }
    }
}
