// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "text-align": (
            "center"
        )
    )
);

@include describe("text-align") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("text-align", tokens.text-align-values(), (
                    "text": "text-align"
                ));
            }

            @include expect(false) {
                .text-center {
                    text-align: center;
                }
            }
        }
    }
}
