// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "text-align"
    )
);

@include describe("text-align") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .text-left {
                    text-align: left;
                }

                .text-center {
                    text-align: center;
                }

                .text-right {
                    text-align: right;
                }

                .text-justify {
                    text-align: justify;
                }
            }
        }
    }
}
