// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:list";
@use "@sass-collective/css";
@use "../../core";
@use "./variables";

@mixin core-styles {
    .bg {
        @include core.declaration(bg-repeat) {
            @each $key in variables.$bg-repeat {
                @if list.index(variables.$defaults, $key) == null {
                    @error "Invalid `background-repeat` value, '#{$key}' is not alowed here. Choose one of '#{variables.$defaults}' values.";
                }

                $suffix: null;

                @if $key == round or $key == space {
                    $suffix: repeat-#{$key};
                } @else if $key == no-repeat {
                    $suffix: repeat-none;
                } @else {
                    $suffix: $key;
                }

                &-#{$suffix} {
                    @include css.declaration(background-repeat, $key);
                }
            }
        }
    }
}
