// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core" with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "position": (
            "fixed"
        )
    )
);

@include describe("position") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.addUtility("position", core.$position);
            }

            @include expect(false) {
                 .fixed {
                   position: fixed;
                 }
            }
        }
    }
}
