// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "text-transform": (
            "lowercase"
        )
    )
);

@include describe("text-transform") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("text-transform", core.$text-transform, (
                    "text": "text-transform"
                ));
            }

            @include expect(false) {
                .text-lowercase {
                    text-transform: lowercase;
                }
            }
        }
    }
}
