// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "sass:string";
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "hyphens"
    ),
    $extend: (
        "hyphens": (
            "auto"
        )
    )
);

@include describe("hyphens") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .hyphens-auto {
                    hyphens: auto;
                }
            }
        }
    }
}
