// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core" with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "z-index": (
            "10": "10"
        )
    )
);

@include describe("z-index") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("z-index", core.$z-index, "z");
            }

            @include expect(false) {
                .z-0 {
                    z-index: 0;
                }

                .z-auto {
                    z-index: auto;
                }

                .z-10 {
                    z-index: 10;
                }
            }
        }
    }
}
