// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "object-fit"
    ),
    $extend: (
        "object-fit": (
            "cover"
        )
    )
);

@include describe("object-fit") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .object-cover {
                    object-fit: cover;
                }
            }
        }
    }
}
