// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "z-index": (
            10: 10
        )
    )
);
@use "../index" as z-index;

@include describe("z-index.core-styles()") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include z-index.core-styles;
            }

            @include expect(false) {
                .z-0 {
                    z-index: 0;
                }

                .z-auto {
                    z-index: auto;
                }

                .z-10 {
                    z-index: 10;
                }

                @media (min-width: 320px) {
                    .xs\:z-0 {
                        z-index: 0;
                    }

                    .xs\:z-auto {
                        z-index: auto;
                    }

                    .xs\:z-10 {
                        z-index: 10;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:z-0 {
                        z-index: 0;
                    }

                    .sm\:z-auto {
                        z-index: auto;
                    }

                    .sm\:z-10 {
                        z-index: 10;
                    }
                }

                @media (min-width: 768px) {
                    .md\:z-0 {
                        z-index: 0;
                    }

                    .md\:z-auto {
                        z-index: auto;
                    }

                    .md\:z-10 {
                        z-index: 10;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:z-0 {
                        z-index: 0;
                    }

                    .lg\:z-auto {
                        z-index: auto;
                    }

                    .lg\:z-10 {
                        z-index: 10;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:z-0 {
                        z-index: 0;
                    }

                    .xl\:z-auto {
                        z-index: auto;
                    }

                    .xl\:z-10 {
                        z-index: 10;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:z-0 {
                        z-index: 0;
                    }

                    .\32 xl\:z-auto {
                        z-index: auto;
                    }

                    .\32 xl\:z-10 {
                        z-index: 10;
                    }
                }
            }
        }
    }
}
