// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:meta";
@use "sass:string";
@use "../core";
@use "./variables";

@mixin core-styles {
    .gap {
        @if not core.is-disabled(gap) {
            @each $key, $value in variables.$gap {
                $property: gap;

                @if meta.type-of($key) == "string" and string.index($key, "x-") {
                    $property: column-gap;
                } @else if meta.type-of($key) == "string" and string.index($key, "y-") {
                    $property: row-gap;
                }

                &-#{$key} {
                    @include core.declaration($property, $value);
                }
            }
        }
    }
}
