// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0
);

$gap: () !default;
$gap: map.merge($_defaults, $gap);
