// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as flex-basis;

@include describe("flex-basis.core-styles()") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include flex-basis.core-styles;
            }

            @include expect(false) {
                .flex-basic-none {
                    flex-basis: 0;
                }

                .flex-basic-auto {
                    flex-basis: auto;
                }

                .flex-basic-full {
                    flex-basis: 100%;
                }

                @media (min-width: 320px) {
                    .xs\:flex-basic-none {
                        flex-basis: 0;
                    }

                    .xs\:flex-basic-auto {
                        flex-basis: auto;
                    }

                    .xs\:flex-basic-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:flex-basic-none {
                        flex-basis: 0;
                    }

                    .sm\:flex-basic-auto {
                        flex-basis: auto;
                    }

                    .sm\:flex-basic-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 768px) {
                    .md\:flex-basic-none {
                        flex-basis: 0;
                    }

                    .md\:flex-basic-auto {
                        flex-basis: auto;
                    }

                    .md\:flex-basic-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:flex-basic-none {
                        flex-basis: 0;
                    }

                    .lg\:flex-basic-auto {
                        flex-basis: auto;
                    }

                    .lg\:flex-basic-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:flex-basic-none {
                        flex-basis: 0;
                    }

                    .xl\:flex-basic-auto {
                        flex-basis: auto;
                    }

                    .xl\:flex-basic-full {
                        flex-basis: 100%;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:flex-basic-none {
                        flex-basis: 0;
                    }

                    .\32 xl\:flex-basic-auto {
                        flex-basis: auto;
                    }

                    .\32 xl\:flex-basic-full {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}
