// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false,
    $extend: (
        "flex-basis": (
            50: 50%
        )
    )
);
@use "../index" as flex-basis;

@include describe("flex-basis.core-styles()") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include flex-basis.core-styles;
            }

            @include expect(false) {
                .flex-basis-none {
                    flex-basis: 0;
                }

                .flex-basis-auto {
                    flex-basis: auto;
                }

                .flex-basis-50 {
                    flex-basis: 50%;
                }

                .flex-basis-full {
                    flex-basis: 100%;
                }
            }
        }
    }
}
