// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false
);
@use "../index" as flex-basis;

@include describe("flex-basis.core-styles()") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include flex-basis.core-styles;
            }

            @include expect(false) {
                .flex-basic-none {
                    flex-basis: 0;
                }

                .flex-basic-auto {
                    flex-basis: auto;
                }

                .flex-basic-full {
                    flex-basis: 100%;
                }
            }
        }
    }
}
