// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "flex"
    ),
    $extend: (
        "flex": (
            "1": "1 1 0%"
        )
    )
);

@include describe("flex") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .flex-none {
                    flex: none;
                }

                .flex-auto {
                    flex: 1 1 auto;
                }

                .flex-initial {
                    flex: 0 1 auto;
                }

                .flex-1 {
                    flex: 1 1 0%;
                }
            }
        }
    }
}
