// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    )
);

@include describe("flex") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("flex", core.flex-values(), (
                    "flex": "flex"
                ));
            }

            @include expect(false) {
                .flex-none {
                    flex: none;
                }

                .flex-auto {
                    flex: 1 1 auto;
                }

                .flex-initial {
                    flex: 0 1 auto;
                }
            }
        }
    }
}
