// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:meta";
@use "@unsass/utilities";
@use "../../core";
@use "./variables";

@mixin core-styles {
    .max-w {
        @include core.declaration("max-width") {
            @each $key, $value in variables.$extend {
                @if meta.type-of($key) == "string" {
                    $key: utilities.string-replace($key, "/", \/);
                }

                @if meta.type-of($key) == "string" {
                    $key: utilities.string-replace($key, ".", \.);
                }

                &-#{$key} {
                    max-width: $value;
                }
            }
        }
    }
}
