// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core";

@include describe("margin") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("padding", core.$padding, (
                    "p": "padding",
                    "px": (
                        "padding-left",
                        "padding-right"
                    ),
                    "py": (
                        "padding-top",
                        "padding-bottom"
                    ),
                    "pt": (
                        "padding-top"
                    ),
                    "pr": (
                        "padding-right"
                    ),
                    "pb": (
                        "padding-bottom"
                    ),
                    "pl": (
                        "padding-left"
                    )
                ));
            }

            @include expect(false) {
                .p-0 {
                    padding: 0;
                }

                @media (min-width: 320px) {
                    .xs\:p-0 {
                        padding: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:p-0 {
                        padding: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:p-0 {
                        padding: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:p-0 {
                        padding: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:p-0 {
                        padding: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:p-0 {
                        padding: 0;
                    }
                }

                .px-0 {
                    padding-left: 0;
                    padding-right: 0;
                }

                @media (min-width: 320px) {
                    .xs\:px-0 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:px-0 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:px-0 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:px-0 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:px-0 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:px-0 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                .py-0 {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                @media (min-width: 320px) {
                    .xs\:py-0 {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:py-0 {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:py-0 {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:py-0 {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:py-0 {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:py-0 {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }

                .pt-0 {
                    padding-top: 0;
                }

                @media (min-width: 320px) {
                    .xs\:pt-0 {
                        padding-top: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:pt-0 {
                        padding-top: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:pt-0 {
                        padding-top: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:pt-0 {
                        padding-top: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:pt-0 {
                        padding-top: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:pt-0 {
                        padding-top: 0;
                    }
                }

                .pr-0 {
                    padding-right: 0;
                }

                @media (min-width: 320px) {
                    .xs\:pr-0 {
                        padding-right: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:pr-0 {
                        padding-right: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:pr-0 {
                        padding-right: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:pr-0 {
                        padding-right: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:pr-0 {
                        padding-right: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:pr-0 {
                        padding-right: 0;
                    }
                }

                .pb-0 {
                    padding-bottom: 0;
                }

                @media (min-width: 320px) {
                    .xs\:pb-0 {
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:pb-0 {
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:pb-0 {
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:pb-0 {
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:pb-0 {
                        padding-bottom: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:pb-0 {
                        padding-bottom: 0;
                    }
                }

                .pl-0 {
                    padding-left: 0;
                }

                @media (min-width: 320px) {
                    .xs\:pl-0 {
                        padding-left: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:pl-0 {
                        padding-left: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:pl-0 {
                        padding-left: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:pl-0 {
                        padding-left: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:pl-0 {
                        padding-left: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:pl-0 {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
