// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core" with (
    $engine: (
        "screens": false
    )
);

@include describe("padding") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("padding", core.$padding, (
                    "p": "padding",
                    "px": (
                        "padding-left",
                        "padding-right"
                    ),
                    "py": (
                        "padding-top",
                        "padding-bottom"
                    ),
                    "pt": (
                        "padding-top"
                    ),
                    "pr": (
                        "padding-right"
                    ),
                    "pb": (
                        "padding-bottom"
                    ),
                    "pl": (
                        "padding-left"
                    )
                ));
            }

            @include expect(false) {
                .p-0 {
                    padding: 0;
                }

                .px-0 {
                    padding-left: 0;
                    padding-right: 0;
                }


                .py-0 {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .pt-0 {
                    padding-top: 0;
                }

                .pr-0 {
                    padding-right: 0;
                }

                .pb-0 {
                    padding-bottom: 0;
                }

                .pl-0 {
                    padding-left: 0;
                }
            }
        }
    }
}
