// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as flex;

@include describe("flex.core-styles()") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include flex.core-styles;
            }

            @include expect(false) {
                .flex-auto {
                    flex: 1 1 auto;
                }

                .flex-initial {
                    flex: 0 1 auto;
                }

                .flex-none {
                    flex: none;
                }

                @media (min-width: 320px) {
                    .xs\:flex-auto {
                        flex: 1 1 auto;
                    }

                    .xs\:flex-initial {
                        flex: 0 1 auto;
                    }

                    .xs\:flex-none {
                        flex: none;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:flex-auto {
                        flex: 1 1 auto;
                    }

                    .sm\:flex-initial {
                        flex: 0 1 auto;
                    }

                    .sm\:flex-none {
                        flex: none;
                    }
                }

                @media (min-width: 768px) {
                    .md\:flex-auto {
                        flex: 1 1 auto;
                    }

                    .md\:flex-initial {
                        flex: 0 1 auto;
                    }

                    .md\:flex-none {
                        flex: none;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:flex-auto {
                        flex: 1 1 auto;
                    }

                    .lg\:flex-initial {
                        flex: 0 1 auto;
                    }

                    .lg\:flex-none {
                        flex: none;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:flex-auto {
                        flex: 1 1 auto;
                    }

                    .xl\:flex-initial {
                        flex: 0 1 auto;
                    }

                    .xl\:flex-none {
                        flex: none;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:flex-auto {
                        flex: 1 1 auto;
                    }

                    .\32 xl\:flex-initial {
                        flex: 0 1 auto;
                    }

                    .\32 xl\:flex-none {
                        flex: none;
                    }
                }
            }
        }
    }
}
