// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false,
    $extend: (
        "flex": (
            "1": "1 1 0%"
        )
    )
);
@use "../index" as flex;

@include describe("flex.core-styles()") {
    @include it("Should return main styles extended declarations.") {
        @include assert {
            @include output(false) {
                @include flex.core-styles;
            }

            @include expect(false) {
                .flex-auto {
                    flex: 1 1 auto;
                }

                .flex-initial {
                    flex: 0 1 auto;
                }

                .flex-1 {
                    flex: 1 1 0%;
                }

                .flex-none {
                    flex: none;
                }
            }
        }
    }
}
