// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as text-align;

@include describe("text-align.core-styles()") {
    @include it("Should return all `text-align` declarations.") {
        @include assert {
            @include output(false) {
                @include text-align.core-styles;
            }

            @include expect(false) {
                .text-left {
                    text-align: left;
                }

                @media (min-width: 320px) {
                    .xs\:text-left {
                        text-align: left;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:text-left {
                        text-align: left;
                    }
                }

                @media (min-width: 768px) {
                    .md\:text-left {
                        text-align: left;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:text-left {
                        text-align: left;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:text-left {
                        text-align: left;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:text-left {
                        text-align: left;
                    }
                }

                .text-center {
                    text-align: center;
                }

                @media (min-width: 320px) {
                    .xs\:text-center {
                        text-align: center;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:text-center {
                        text-align: center;
                    }
                }

                @media (min-width: 768px) {
                    .md\:text-center {
                        text-align: center;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:text-center {
                        text-align: center;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:text-center {
                        text-align: center;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:text-center {
                        text-align: center;
                    }
                }

                .text-right {
                    text-align: right;
                }

                @media (min-width: 320px) {
                    .xs\:text-right {
                        text-align: right;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:text-right {
                        text-align: right;
                    }
                }

                @media (min-width: 768px) {
                    .md\:text-right {
                        text-align: right;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:text-right {
                        text-align: right;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:text-right {
                        text-align: right;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:text-right {
                        text-align: right;
                    }
                }

                .text-justify {
                    text-align: justify;
                }

                @media (min-width: 320px) {
                    .xs\:text-justify {
                        text-align: justify;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:text-justify {
                        text-align: justify;
                    }
                }

                @media (min-width: 768px) {
                    .md\:text-justify {
                        text-align: justify;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:text-justify {
                        text-align: justify;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:text-justify {
                        text-align: justify;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:text-justify {
                        text-align: justify;
                    }
                }
            }
        }
    }
}
