// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core;

@include describe("grayscale") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grayscale", core.$grayscale, (
                    "grayscale": "grayscale"
                ));
            }

            @include expect(false) {
                .grayscale {
                    filter: grayscale(1);
                }

                .grayscale-0 {
                    filter: grayscale(0);
                }

                @media (min-width: 320px) {
                    .xs\:grayscale {
                        filter: grayscale(1);
                    }

                    .xs\:grayscale-0 {
                        filter: grayscale(0);
                    }
                }

                @media (min-width: 480px) {
                    .sm\:grayscale {
                        filter: grayscale(1);
                    }

                    .sm\:grayscale-0 {
                        filter: grayscale(0);
                    }
                }

                @media (min-width: 768px) {
                    .md\:grayscale {
                        filter: grayscale(1);
                    }

                    .md\:grayscale-0 {
                        filter: grayscale(0);
                    }
                }

                @media (min-width: 960px) {
                    .lg\:grayscale {
                        filter: grayscale(1);
                    }

                    .lg\:grayscale-0 {
                        filter: grayscale(0);
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:grayscale {
                        filter: grayscale(1);
                    }

                    .xl\:grayscale-0 {
                        filter: grayscale(0);
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:grayscale {
                        filter: grayscale(1);
                    }

                    .\32 xl\:grayscale-0 {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}
