// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "flex-wrap": (
            "nowrap"
        )
    )
);

@include describe("flex-wrap") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("flex-wrap", tokens.flex-wrap-values(), (
                    "flex": "flex-wrap"
                ));
            }

            @include expect(false) {
                .flex-nowrap {
                    flex-wrap: nowrap;
                }
            }
        }
    }
}
