// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core;

@include describe("grid-column-start") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grid-column-start", tokens.grid-column-start-values(), (
                    "col-start": "grid-column-start"
                ));
            }

            @include expect(false) {
                .col-start-auto {
                    grid-column-start: auto;
                }

                .col-start-1 {
                    grid-column-start: 1;
                }

                .col-start-2 {
                    grid-column-start: 2;
                }

                .col-start-3 {
                    grid-column-start: 3;
                }

                .col-start-4 {
                    grid-column-start: 4;
                }

                .col-start-5 {
                    grid-column-start: 5;
                }

                .col-start-6 {
                    grid-column-start: 6;
                }

                .col-start-7 {
                    grid-column-start: 7;
                }

                .col-start-8 {
                    grid-column-start: 8;
                }

                .col-start-9 {
                    grid-column-start: 9;
                }

                .col-start-10 {
                    grid-column-start: 10;
                }

                .col-start-11 {
                    grid-column-start: 11;
                }

                .col-start-12 {
                    grid-column-start: 12;
                }

                .col-start-13 {
                    grid-column-start: 13;
                }

                @media (min-width: 320px) {
                    .xs\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .xs\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .xs\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .xs\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .xs\:col-start-4 {
                        grid-column-start: 4;
                    }

                    .xs\:col-start-5 {
                        grid-column-start: 5;
                    }

                    .xs\:col-start-6 {
                        grid-column-start: 6;
                    }

                    .xs\:col-start-7 {
                        grid-column-start: 7;
                    }

                    .xs\:col-start-8 {
                        grid-column-start: 8;
                    }

                    .xs\:col-start-9 {
                        grid-column-start: 9;
                    }

                    .xs\:col-start-10 {
                        grid-column-start: 10;
                    }

                    .xs\:col-start-11 {
                        grid-column-start: 11;
                    }

                    .xs\:col-start-12 {
                        grid-column-start: 12;
                    }

                    .xs\:col-start-13 {
                        grid-column-start: 13;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .sm\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .sm\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .sm\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .sm\:col-start-4 {
                        grid-column-start: 4;
                    }

                    .sm\:col-start-5 {
                        grid-column-start: 5;
                    }

                    .sm\:col-start-6 {
                        grid-column-start: 6;
                    }

                    .sm\:col-start-7 {
                        grid-column-start: 7;
                    }

                    .sm\:col-start-8 {
                        grid-column-start: 8;
                    }

                    .sm\:col-start-9 {
                        grid-column-start: 9;
                    }

                    .sm\:col-start-10 {
                        grid-column-start: 10;
                    }

                    .sm\:col-start-11 {
                        grid-column-start: 11;
                    }

                    .sm\:col-start-12 {
                        grid-column-start: 12;
                    }

                    .sm\:col-start-13 {
                        grid-column-start: 13;
                    }
                }

                @media (min-width: 768px) {
                    .md\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .md\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .md\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .md\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .md\:col-start-4 {
                        grid-column-start: 4;
                    }

                    .md\:col-start-5 {
                        grid-column-start: 5;
                    }

                    .md\:col-start-6 {
                        grid-column-start: 6;
                    }

                    .md\:col-start-7 {
                        grid-column-start: 7;
                    }

                    .md\:col-start-8 {
                        grid-column-start: 8;
                    }

                    .md\:col-start-9 {
                        grid-column-start: 9;
                    }

                    .md\:col-start-10 {
                        grid-column-start: 10;
                    }

                    .md\:col-start-11 {
                        grid-column-start: 11;
                    }

                    .md\:col-start-12 {
                        grid-column-start: 12;
                    }

                    .md\:col-start-13 {
                        grid-column-start: 13;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .lg\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .lg\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .lg\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .lg\:col-start-4 {
                        grid-column-start: 4;
                    }

                    .lg\:col-start-5 {
                        grid-column-start: 5;
                    }

                    .lg\:col-start-6 {
                        grid-column-start: 6;
                    }

                    .lg\:col-start-7 {
                        grid-column-start: 7;
                    }

                    .lg\:col-start-8 {
                        grid-column-start: 8;
                    }

                    .lg\:col-start-9 {
                        grid-column-start: 9;
                    }

                    .lg\:col-start-10 {
                        grid-column-start: 10;
                    }

                    .lg\:col-start-11 {
                        grid-column-start: 11;
                    }

                    .lg\:col-start-12 {
                        grid-column-start: 12;
                    }

                    .lg\:col-start-13 {
                        grid-column-start: 13;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .xl\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .xl\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .xl\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .xl\:col-start-4 {
                        grid-column-start: 4;
                    }

                    .xl\:col-start-5 {
                        grid-column-start: 5;
                    }

                    .xl\:col-start-6 {
                        grid-column-start: 6;
                    }

                    .xl\:col-start-7 {
                        grid-column-start: 7;
                    }

                    .xl\:col-start-8 {
                        grid-column-start: 8;
                    }

                    .xl\:col-start-9 {
                        grid-column-start: 9;
                    }

                    .xl\:col-start-10 {
                        grid-column-start: 10;
                    }

                    .xl\:col-start-11 {
                        grid-column-start: 11;
                    }

                    .xl\:col-start-12 {
                        grid-column-start: 12;
                    }

                    .xl\:col-start-13 {
                        grid-column-start: 13;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:col-start-auto {
                        grid-column-start: auto;
                    }

                    .\32 xl\:col-start-1 {
                        grid-column-start: 1;
                    }

                    .\32 xl\:col-start-2 {
                        grid-column-start: 2;
                    }

                    .\32 xl\:col-start-3 {
                        grid-column-start: 3;
                    }

                    .\32 xl\:col-start-4 {
                        grid-column-start: 4;
                    }

                    .\32 xl\:col-start-5 {
                        grid-column-start: 5;
                    }

                    .\32 xl\:col-start-6 {
                        grid-column-start: 6;
                    }

                    .\32 xl\:col-start-7 {
                        grid-column-start: 7;
                    }

                    .\32 xl\:col-start-8 {
                        grid-column-start: 8;
                    }

                    .\32 xl\:col-start-9 {
                        grid-column-start: 9;
                    }

                    .\32 xl\:col-start-10 {
                        grid-column-start: 10;
                    }

                    .\32 xl\:col-start-11 {
                        grid-column-start: 11;
                    }

                    .\32 xl\:col-start-12 {
                        grid-column-start: 12;
                    }

                    .\32 xl\:col-start-13 {
                        grid-column-start: 13;
                    }
                }
            }
        }
    }
}
