// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "display"
    ),
    $extend: (
        "display": (
            "hidden"
        )
    )
);

@include describe("display") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .hidden {
                    display: none;
                }
            }
        }
    }
}
