// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "display": (
            "hidden"
        )
    )
);

@include describe("display") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("display", tokens.display-values());
            }

            @include expect(false) {
                .hidden {
                    display: none;
                }
            }
        }
    }
}
