// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "../../mixins" as core-mixins;
@use "../core";

@mixin core-styles {
    .flex {
        @include core-mixins.declaration("flex-wrap") {
            @include core.classes(flex-wrap, core.$flex-wrap);
        }
    }

    .flex-direction {
        @include core-mixins.declaration("flex-direction") {
            @include core.classes(flex-direction, core.$flex-direction);
        }
    }

    .flex-grow {
        @include core-mixins.declaration("flex-grow") {
            @each $key, $value in core.$flex-grow {
                @if ($key == default) {
                    flex-grow: $value;
                } @else {
                    &-#{$key} {
                        flex-grow: $value;
                    }
                }
            }
        }
    }

    .flex-shrink {
        @include core-mixins.declaration("flex-shrink") {
            @each $key, $value in core.$flex-shrink {
                @if ($key == default) {
                    flex-shrink: $value;
                } @else {
                    &-#{$key} {
                        flex-shrink: $value;
                    }
                }
            }
        }
    }
}
