// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults-aspect-ratio: (
    auto: auto,
    square: "1/1",
    video: "16/9"
);

$aspect-ratio: () !default;
$aspect-ratio: map.merge($_defaults-aspect-ratio, $aspect-ratio);
