// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "../../../functions" as core-functions;

$_defaults: (
    auto: auto,
    square: "1/1",
    video: "16/9"
);

$extend: core-functions.extend("aspect-ratio", $_defaults);
