// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";
@use "sass:meta";
@use "../../../variables" as core-variables;

$_defaults: (
    auto: auto,
    square: "1/1",
    video: "16/9"
);

$extend: $_defaults;

@if (meta.type-of(map.get(core-variables.$extend, "aspect-ratio")) == "map") {
    $extend: map.merge($_defaults, map.get(core-variables.$extend, "aspect-ratio"));
}
