// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0
);

$blur: () !default;
$blur: map.merge($_defaults, $blur);
