// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false,
    $extend: (
        "align-items": (
            center
        )
    )
);
@use "../index" as align-items;

@include describe("align-items.core-styles()") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include align-items.core-styles;
            }

            @include expect(false) {
                .align-items-center {
                    align-items: center;
                }
            }
        }
    }
}
