// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false
);
@use "../index" as align-items;

@include describe("align-items.core-styles()") {
    @include it("Should return main styles for declarations.") {
        @include assert {
            @include output(false) {
                @include align-items.core-styles;
            }

            @include expect(false) {
                .align-items-start {
                    align-items: flex-start;
                }

                .align-items-end {
                    align-items: flex-end;
                }

                .align-items-center {
                    align-items: center;
                }

                .align-items-baseline {
                    align-items: baseline;
                }

                .align-items-stretch {
                    align-items: stretch;
                }
            }
        }
    }
}
