// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "justify-self"
    ),
    $extend: (
        "justify-self": (
            "center"
        )
    )
);

@include describe("justify-self") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .justify-self-center {
                    justify-self: center;
                }
            }
        }
    }
}
