// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "justify-self"
    )
);

@include describe("justify-self") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .justify-self-auto {
                    justify-self: auto;
                }

                .justify-self-start {
                    justify-self: start;
                }

                .justify-self-end {
                    justify-self: end;
                }

                .justify-self-center {
                    justify-self: center;
                }

                .justify-self-stretch {
                    justify-self: stretch;
                }
            }
        }
    }
}
