// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "background-attachment": (
            "fixed"
        )
    ),
    $core: (
        "background-attachment"
    )
);

@include describe("background-attachment") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .bg-attachment-fixed {
                    background-attachment: fixed;
                }
            }
        }
    }
}
