// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as align-self;

@include describe("align-self.core-styles()") {
    @include it("Should return all `align-self` declarations.") {
        @include assert {
            @include output(false) {
                @include align-self.core-styles;
            }

            @include expect(false) {
                .align-self-auto {
                    align-self: auto;
                }

                .align-self-start {
                    align-self: flex-start;
                }

                .align-self-end {
                    align-self: flex-end;
                }

                .align-self-center {
                    align-self: center;
                }

                .align-self-stretch {
                    align-self: stretch;
                }

                .align-self-baseline {
                    align-self: baseline;
                }

                @media (min-width: 320px) {
                    .xs\:align-self-auto {
                        align-self: auto;
                    }

                    .xs\:align-self-start {
                        align-self: flex-start;
                    }

                    .xs\:align-self-end {
                        align-self: flex-end;
                    }

                    .xs\:align-self-center {
                        align-self: center;
                    }

                    .xs\:align-self-stretch {
                        align-self: stretch;
                    }

                    .xs\:align-self-baseline {
                        align-self: baseline;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:align-self-auto {
                        align-self: auto;
                    }

                    .sm\:align-self-start {
                        align-self: flex-start;
                    }

                    .sm\:align-self-end {
                        align-self: flex-end;
                    }

                    .sm\:align-self-center {
                        align-self: center;
                    }

                    .sm\:align-self-stretch {
                        align-self: stretch;
                    }

                    .sm\:align-self-baseline {
                        align-self: baseline;
                    }
                }

                @media (min-width: 768px) {
                    .md\:align-self-auto {
                        align-self: auto;
                    }

                    .md\:align-self-start {
                        align-self: flex-start;
                    }

                    .md\:align-self-end {
                        align-self: flex-end;
                    }

                    .md\:align-self-center {
                        align-self: center;
                    }

                    .md\:align-self-stretch {
                        align-self: stretch;
                    }

                    .md\:align-self-baseline {
                        align-self: baseline;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:align-self-auto {
                        align-self: auto;
                    }

                    .lg\:align-self-start {
                        align-self: flex-start;
                    }

                    .lg\:align-self-end {
                        align-self: flex-end;
                    }

                    .lg\:align-self-center {
                        align-self: center;
                    }

                    .lg\:align-self-stretch {
                        align-self: stretch;
                    }

                    .lg\:align-self-baseline {
                        align-self: baseline;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:align-self-auto {
                        align-self: auto;
                    }

                    .xl\:align-self-start {
                        align-self: flex-start;
                    }

                    .xl\:align-self-end {
                        align-self: flex-end;
                    }

                    .xl\:align-self-center {
                        align-self: center;
                    }

                    .xl\:align-self-stretch {
                        align-self: stretch;
                    }

                    .xl\:align-self-baseline {
                        align-self: baseline;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:align-self-auto {
                        align-self: auto;
                    }

                    .\32 xl\:align-self-start {
                        align-self: flex-start;
                    }

                    .\32 xl\:align-self-end {
                        align-self: flex-end;
                    }

                    .\32 xl\:align-self-center {
                        align-self: center;
                    }

                    .\32 xl\:align-self-stretch {
                        align-self: stretch;
                    }

                    .\32 xl\:align-self-baseline {
                        align-self: baseline;
                    }
                }
            }
        }
    }
}
