// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $screens: false,
    $extend: (
        "align-self": (
            center
        )
    )
);
@use "../index" as align-self;

@include describe("align-self.core-styles()") {
    @include it("Should return main styles extended declarations.") {
        @include assert {
            @include output(false) {
                @include align-self.core-styles;
            }

            @include expect(false) {
                .align-self-center {
                    align-self: center;
                }
            }
        }
    }
}
