// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "z-index"
    )
);

@include describe("z-index") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .z-0 {
                    z-index: 0;
                }

                .z-auto {
                    z-index: auto;
                }
            }
        }
    }
}
