// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "@sass-collective/css";
@use "@unsass/breakpoint";
@use "@unsass/utilities";
@use "./variables";
@use "./functions";

// ------------------------------------------------------------------------- //
// Private mixins
// ------------------------------------------------------------------------- //

// ...

// ------------------------------------------------------------------------- //
// Public mixins
// ------------------------------------------------------------------------- //

@mixin declaration($property) {
    $declaration: true;
    $breakpoint: false;

    ///
    /// Sets white list engine.
    ///

    @if functions.is-white-list() {
        $declaration: false;
    }

    @if functions.is-white-list() {
        @if map.has-key(variables.$extend, $property) {
            $declaration: true;
        }
    } @else {
        @if map.has-key(variables.$extend, $property) and map.get(variables.$extend, $property) == false {
            $declaration: false;
        }
    }

    ///
    /// Conditional breakpoint.
    ///

    @if functions.has-breakpoints() {
        $breakpoint: true;
    }

    ///
    /// Set declaration.
    ///

    @if $declaration {
        @content;

        @if $breakpoint {
            @each $key, $value in breakpoint.get-screens() {
                @include breakpoint.up($key) {
                    @include css.selector($key) {
                        @content;
                    }
                }
            }
        }
    }
}

@mixin addUtility($property, $options: ()) {
    @if meta.type-of($options) == "list" or meta.type-of($options) == "string" or meta.type-of($options) == "number" {
        $keys: functions.filter($options, $property);

        @each $key in $keys {
            .#{$property} {
                &-#{$key} {
                    #{$property}: string.unquote($key);
                }
            }
        }
    }

    @if meta.type-of($options) == "map" {
        @each $key, $value in $options {
            .#{$key} {
                #{$property}: string.unquote($value);
            }
        }
    }
}

@mixin createUtility($property, $utilities, $variation) {
    $extend: ();

    @if meta.type-of(map.get(variables.$extend, $property)) == "list" or meta.type-of(map.get(variables.$extend, $property)) == "string" or meta.type-of(map.get(variables.$extend, $property)) == "number" {
        @each $key in map.get(variables.$extend, $property) {
            $extend: map.set($extend, $key, map.get($utilities, $key));
        }
    } @else {
        $extend: functions.extend($utilities, $property);
    }

    .#{$variation} {
        @include declaration($property) {
            @each $key, $value in $extend {
                @if meta.type-of($key) == "string" {
                    $key: utilities.string-replace($key, "/", \/);
                }

                &-#{$key} {
                    #{$property}: string.unquote($value);
                }
            }
        }
    }
}
