// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$aspect-ratio: (
    "auto": "auto",
    "square": "1/1",
    "video": "16/9"
);

$align-content: (
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    space-evenly
) !default;

$background-origin: (
    "border": "border-box",
    "content": "content-box",
    "padding": "padding-box"
);

$blur: (
    "0": "0"
);

$brightness: (
    "0": "0",
    "100": "1"
);

$clear: (
    "none": "none",
    "left": "left",
    "right": "right",
    "both": "both"
);

$contrast: (
    "0": "0",
    "100": "1"
);

$display: (
    "block": block,
    "inline-block": inline-block,
    "flex": flex,
    "inline-flex": inline-flex,
    "grid": grid,
    "inline-grid": inline-grid,
    "table": table,
    "inline-table": inline-table,
    "hidden": none
);

$float: (
    "left": "left",
    "right": "right",
    "none": "none"
);

$font-style: (
    "normal": "normal",
    "italic": "italic"
);

$font-weight: (
    "100": "100",
    "200": "200",
    "300": "300",
    "400": "400",
    "500": "500",
    "600": "600",
    "700": "700",
    "800": "800",
    "900": "900"
);

$gap: (
    "0": "0"
);

$grayscale: (
    "0": "0",
    "100": "1"
);

$margin: (
    "0": "0",
    "auto": "auto"
);

$min-width: (
    "0": "0",
    "full": "100%",
    "screen": "100vw",
    "min": "min-content",
    "max": "max-content",
    "fit": "fit-content"
);

$max-width: (
    "0": "0",
    "full": "100%",
    "screen": "100vw",
    "min": "min-content",
    "max": "max-content",
    "fit": "fit-content"
);

$order: (
    "0": "0",
    "1": "1",
    "2": "2",
    "3": "3",
    "4": "4",
    "5": "5",
    "6": "6",
    "7": "7",
    "8": "8",
    "9": "9",
    "10": "10",
    "11": "11",
    "12": "12"
);

$opacity: (
    "0": "0",
    "100": "1"
);

$padding: (
    "0": "0"
);

$place-content: (
    "start": "start",
    "end": "end",
    "center": "center",
    "space-between": "space-between",
    "space-around": "space-around",
    "space-evenly": "space-evenly",
    "stretch": "stretch"
);

$place-items: (
    "start": "start",
    "end": "end",
    "center": "center",
    "stretch": "stretch"
);

$place-self: (
    "auto": "auto",
    "start": "start",
    "end": "end",
    "center": "center",
    "stretch": "stretch"
);

$position: (
    "absolute": "absolute",
    "fixed": "fixed",
    "relative": "relative",
    "static": "static",
    "sticky": "sticky"
);

$text-align: (
    "left": "left",
    "center": "center",
    "right": "right",
    "justify": "justify"
);

$text-transform: (
    "normal": "none",
    "uppercase": "uppercase",
    "lowercase": "lowercase",
    "capitalize": "capitalize"
);

$width: (
    "0": "0",
    "auto": "auto",
    "full": "100%",
    "screen": "100vw",
    "min": "min-content",
    "max": "max-content",
    "fit": "fit-content"
);

$z-index: (
    "0": "0",
    "auto": "auto"
);

/// ...

$names: (
    border-box: border,
    content-box: content,
    padding-box: padding,
    flex-start: start,
    flex-end: end,
    column: col,
    column-reverse: col-reverse,
    space-between: between,
    space-around: around,
    space-evenly: evenly
);

///
/// @deprecated Use `$engine` with `screens` key instead.
///
$screens: () !default;

$engine: (
    "screens": $screens,
    "list": "black"
) !default;

$extend: () !default;
