// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$names: (
    border-box: border,
    content-box: content,
    padding-box: padding,
    flex-start: start,
    flex-end: end,
    column: col,
    column-reverse: col-reverse,
    space-between: between,
    space-around: around,
    space-evenly: evenly
);

$engine: (
    "list": "black"
) !default;

$extend: () !default;
$screens: () !default;
