// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$aspect-ratio: (
    "auto": "auto",
    "square": "1/1",
    "video": "16/9"
);

$align-content: (
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    space-evenly
) !default;

$blur: (
    "0": "0"
);

$brightness: (
    "0": "0",
    "100": "1"
);

$clear: (
    "none": "none",
    "left": "left",
    "right": "right",
    "both": "both"
);

$contrast: (
    "0": "0",
    "100": "1"
);

$display: (
    "block": block,
    "inline-block": inline-block,
    "flex": flex,
    "inline-flex": inline-flex,
    "grid": grid,
    "inline-grid": inline-grid,
    "table": table,
    "inline-table": inline-table,
    "hidden": none
);

$float: (
    "left": "left",
    "right": "right",
    "none": "none"
);

$margin: (
    "0": "0",
    "auto": "auto"
);

$min-width: (
    "0": "0",
    "full": "100%",
    "screen": "100vw",
    "min": "min-content",
    "max": "max-content",
    "fit": "fit-content"
);

$max-width: (
    "0": "0",
    "full": "100%",
    "screen": "100vw",
    "min": "min-content",
    "max": "max-content",
    "fit": "fit-content"
);

$opacity: (
    "0": "0",
    "100": "1"
);

$padding: (
    "0": "0"
);

$position: (
    "absolute": "absolute",
    "fixed": "fixed",
    "relative": "relative",
    "static": "static",
    "sticky": "sticky"
);

$width: (
    "0": "0",
    "auto": "auto",
    "full": "100%",
    "screen": "100vw",
    "min": "min-content",
    "max": "max-content",
    "fit": "fit-content"
);

$z-index: (
    "0": "0",
    "auto": "auto"
);

/// ...

$names: (
    border-box: border,
    content-box: content,
    padding-box: padding,
    flex-start: start,
    flex-end: end,
    column: col,
    column-reverse: col-reverse,
    space-between: between,
    space-around: around,
    space-evenly: evenly
);

///
/// @deprecated Use `$engine` with `screens` key instead.
///
$screens: () !default;

$engine: (
    "screens": $screens,
    "list": "black"
) !default;

$extend: () !default;
