// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "width": (
            25: 25%,
            50: 50%,
            75: 75%
        )
    )
);
@use "../index" as width;

@include describe("width.core-styles()") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include width.core-styles;
            }

            @include expect(false) {
                .w-0 {
                    width: 0;
                }

                .w-auto {
                    width: auto;
                }

                .w-full {
                    width: 100%;
                }

                .w-screen {
                    width: 100vw;
                }

                .w-min {
                    width: min-content;
                }

                .w-max {
                    width: max-content;
                }

                .w-fit {
                    width: fit-content;
                }

                .w-25 {
                    width: 25%;
                }

                .w-50 {
                    width: 50%;
                }

                .w-75 {
                    width: 75%;
                }

                @media (min-width: 320px) {
                    .xs\:w-0 {
                        width: 0;
                    }

                    .xs\:w-auto {
                        width: auto;
                    }

                    .xs\:w-full {
                        width: 100%;
                    }

                    .xs\:w-screen {
                        width: 100vw;
                    }

                    .xs\:w-min {
                        width: min-content;
                    }

                    .xs\:w-max {
                        width: max-content;
                    }

                    .xs\:w-fit {
                        width: fit-content;
                    }

                    .xs\:w-25 {
                        width: 25%;
                    }

                    .xs\:w-50 {
                        width: 50%;
                    }

                    .xs\:w-75 {
                        width: 75%;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-0 {
                        width: 0;
                    }

                    .sm\:w-auto {
                        width: auto;
                    }

                    .sm\:w-full {
                        width: 100%;
                    }

                    .sm\:w-screen {
                        width: 100vw;
                    }

                    .sm\:w-min {
                        width: min-content;
                    }

                    .sm\:w-max {
                        width: max-content;
                    }

                    .sm\:w-fit {
                        width: fit-content;
                    }

                    .sm\:w-25 {
                        width: 25%;
                    }

                    .sm\:w-50 {
                        width: 50%;
                    }

                    .sm\:w-75 {
                        width: 75%;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-0 {
                        width: 0;
                    }

                    .md\:w-auto {
                        width: auto;
                    }

                    .md\:w-full {
                        width: 100%;
                    }

                    .md\:w-screen {
                        width: 100vw;
                    }

                    .md\:w-min {
                        width: min-content;
                    }

                    .md\:w-max {
                        width: max-content;
                    }

                    .md\:w-fit {
                        width: fit-content;
                    }

                    .md\:w-25 {
                        width: 25%;
                    }

                    .md\:w-50 {
                        width: 50%;
                    }

                    .md\:w-75 {
                        width: 75%;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-0 {
                        width: 0;
                    }

                    .lg\:w-auto {
                        width: auto;
                    }

                    .lg\:w-full {
                        width: 100%;
                    }

                    .lg\:w-screen {
                        width: 100vw;
                    }

                    .lg\:w-min {
                        width: min-content;
                    }

                    .lg\:w-max {
                        width: max-content;
                    }

                    .lg\:w-fit {
                        width: fit-content;
                    }

                    .lg\:w-25 {
                        width: 25%;
                    }

                    .lg\:w-50 {
                        width: 50%;
                    }

                    .lg\:w-75 {
                        width: 75%;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-0 {
                        width: 0;
                    }

                    .xl\:w-auto {
                        width: auto;
                    }

                    .xl\:w-full {
                        width: 100%;
                    }

                    .xl\:w-screen {
                        width: 100vw;
                    }

                    .xl\:w-min {
                        width: min-content;
                    }

                    .xl\:w-max {
                        width: max-content;
                    }

                    .xl\:w-fit {
                        width: fit-content;
                    }

                    .xl\:w-25 {
                        width: 25%;
                    }

                    .xl\:w-50 {
                        width: 50%;
                    }

                    .xl\:w-75 {
                        width: 75%;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-0 {
                        width: 0;
                    }

                    .\32 xl\:w-auto {
                        width: auto;
                    }

                    .\32 xl\:w-full {
                        width: 100%;
                    }

                    .\32 xl\:w-screen {
                        width: 100vw;
                    }

                    .\32 xl\:w-min {
                        width: min-content;
                    }

                    .\32 xl\:w-max {
                        width: max-content;
                    }

                    .\32 xl\:w-fit {
                        width: fit-content;
                    }

                    .\32 xl\:w-25 {
                        width: 25%;
                    }

                    .\32 xl\:w-50 {
                        width: 50%;
                    }

                    .\32 xl\:w-75 {
                        width: 75%;
                    }
                }
            }
        }
    }
}
