// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "min-width"
    ),
    $extend: (
        "min-width": (
            "25": "25%",
            "50": "50%",
            "75": "75%"
        )
    )
);

@include describe("min-width") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .min-w-0 {
                    min-width: 0;
                }

                .min-w-full {
                    min-width: 100%;
                }

                .min-w-screen {
                    min-width: 100vw;
                }

                .min-w-min {
                    min-width: min-content;
                }

                .min-w-max {
                    min-width: max-content;
                }

                .min-w-fit {
                    min-width: fit-content;
                }

                .min-w-25 {
                    min-width: 25%;
                }

                .min-w-50 {
                    min-width: 50%;
                }

                .min-w-75 {
                    min-width: 75%;
                }
            }
        }
    }
}
