// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("min-width") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("min-width", tokens.min-width-values(), (
                    "min-w": "min-width"
                ));
            }

            @include expect(false) {
                .min-w-0 {
                    min-width: 0;
                }

                .min-w-full {
                    min-width: 100%;
                }

                .min-w-screen {
                    min-width: 100vw;
                }

                .min-w-min {
                    min-width: min-content;
                }

                .min-w-max {
                    min-width: max-content;
                }

                .min-w-fit {
                    min-width: fit-content;
                }
            }
        }
    }
}
