// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as place-content;

@include describe("place-content.core-styles()") {
    @include it("Should return all `place-content` declarations.") {
        @include assert {
            @include output(false) {
                @include place-content.core-styles;
            }

            @include expect(false) {
                .place-content-start {
                    place-content: start;
                }

                .place-content-end {
                    place-content: end;
                }

                .place-content-center {
                    place-content: center;
                }

                .place-content-between {
                    place-content: space-between;
                }

                .place-content-around {
                    place-content: space-around;
                }

                .place-content-evenly {
                    place-content: space-evenly;
                }

                .place-content-stretch {
                    place-content: stretch;
                }

                @media (min-width: 320px) {
                    .xs\:place-content-start {
                        place-content: start;
                    }

                    .xs\:place-content-end {
                        place-content: end;
                    }

                    .xs\:place-content-center {
                        place-content: center;
                    }

                    .xs\:place-content-between {
                        place-content: space-between;
                    }

                    .xs\:place-content-around {
                        place-content: space-around;
                    }

                    .xs\:place-content-evenly {
                        place-content: space-evenly;
                    }

                    .xs\:place-content-stretch {
                        place-content: stretch;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:place-content-start {
                        place-content: start;
                    }

                    .sm\:place-content-end {
                        place-content: end;
                    }

                    .sm\:place-content-center {
                        place-content: center;
                    }

                    .sm\:place-content-between {
                        place-content: space-between;
                    }

                    .sm\:place-content-around {
                        place-content: space-around;
                    }

                    .sm\:place-content-evenly {
                        place-content: space-evenly;
                    }

                    .sm\:place-content-stretch {
                        place-content: stretch;
                    }
                }

                @media (min-width: 768px) {
                    .md\:place-content-start {
                        place-content: start;
                    }

                    .md\:place-content-end {
                        place-content: end;
                    }

                    .md\:place-content-center {
                        place-content: center;
                    }

                    .md\:place-content-between {
                        place-content: space-between;
                    }

                    .md\:place-content-around {
                        place-content: space-around;
                    }

                    .md\:place-content-evenly {
                        place-content: space-evenly;
                    }

                    .md\:place-content-stretch {
                        place-content: stretch;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:place-content-start {
                        place-content: start;
                    }

                    .lg\:place-content-end {
                        place-content: end;
                    }

                    .lg\:place-content-center {
                        place-content: center;
                    }

                    .lg\:place-content-between {
                        place-content: space-between;
                    }

                    .lg\:place-content-around {
                        place-content: space-around;
                    }

                    .lg\:place-content-evenly {
                        place-content: space-evenly;
                    }

                    .lg\:place-content-stretch {
                        place-content: stretch;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:place-content-start {
                        place-content: start;
                    }

                    .xl\:place-content-end {
                        place-content: end;
                    }

                    .xl\:place-content-center {
                        place-content: center;
                    }

                    .xl\:place-content-between {
                        place-content: space-between;
                    }

                    .xl\:place-content-around {
                        place-content: space-around;
                    }

                    .xl\:place-content-evenly {
                        place-content: space-evenly;
                    }

                    .xl\:place-content-stretch {
                        place-content: stretch;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:place-content-start {
                        place-content: start;
                    }

                    .\32 xl\:place-content-end {
                        place-content: end;
                    }

                    .\32 xl\:place-content-center {
                        place-content: center;
                    }

                    .\32 xl\:place-content-between {
                        place-content: space-between;
                    }

                    .\32 xl\:place-content-around {
                        place-content: space-around;
                    }

                    .\32 xl\:place-content-evenly {
                        place-content: space-evenly;
                    }

                    .\32 xl\:place-content-stretch {
                        place-content: stretch;
                    }
                }
            }
        }
    }
}
