// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0
);

$contrast: () !default;
$contrast: map.merge($_defaults, $contrast);
