// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "blur": (
           "lg": "16px"
        )
    ),
    $core: (
        "blur"
    )
);

@include describe("blur") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .blur-0 {
                    filter: blur(0);
                }

                .blur-lg {
                    filter: blur(16px);
                }
            }
        }
    }
}
