// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core;

@include describe("blur") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("blur", tokens.filter-blur-values(), (
                    "blur": "blur"
                ));
            }

            @include expect(false) {
                .blur-0 {
                    filter: blur(0);
                }

                @media (min-width: 320px) {
                    .xs\:blur-0 {
                        filter: blur(0);
                    }
                }

                @media (min-width: 480px) {
                    .sm\:blur-0 {
                        filter: blur(0);
                    }
                }

                @media (min-width: 768px) {
                    .md\:blur-0 {
                        filter: blur(0);
                    }
                }

                @media (min-width: 960px) {
                    .lg\:blur-0 {
                        filter: blur(0);
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:blur-0 {
                        filter: blur(0);
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:blur-0 {
                        filter: blur(0);
                    }
                }
            }
        }
    }
}
