// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "place-items": (
            center
        )
    )
);
@use "../index" as place-items;

@include describe("place-items.core-styles()") {
    @include it("Should return extended declarations.") {
        @include assert {
            @include output(false) {
                @include place-items.core-styles;
            }

            @include expect(false) {
                .place-items-center {
                    place-items: center;
                }

                @media (min-width: 320px) {
                    .xs\:place-items-center {
                        place-items: center;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:place-items-center {
                        place-items: center;
                    }
                }

                @media (min-width: 768px) {
                    .md\:place-items-center {
                        place-items: center;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:place-items-center {
                        place-items: center;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:place-items-center {
                        place-items: center;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:place-items-center {
                        place-items: center;
                    }
                }
            }
        }
    }
}
