// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src/core" with (
    $engine: (
        "screens": false
    )
);

@include describe("min-width") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("min-width", core.$min-width, "min-w");
            }

            @include expect(false) {
                .min-w-0 {
                    min-width: 0;
                }

                .min-w-full {
                    min-width: 100%;
                }

                .min-w-screen {
                    min-width: 100vw;
                }
            }
        }
    }
}
