// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("grayscale") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grayscale", core.$grayscale, (
                    "grayscale": "grayscale"
                ));
            }

            @include expect(false) {
                .grayscale {
                    filter: grayscale(1);
                }

                .grayscale-0 {
                    filter: grayscale(0);
                }
            }
        }
    }
}
