// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("gap") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("gap", core.gap-values(), (
                    "gap": "gap",
                    "gap-x": (
                        "column-gap"
                    ),
                    "gap-y": (
                        "row-gap"
                    )
                ));
            }

            @include expect(false) {
                .gap-0 {
                    gap: 0;
                }

                .gap-x-0 {
                    column-gap: 0;
                }

                .gap-y-0 {
                    row-gap: 0;
                }
            }
        }
    }
}
