// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0,
    auto: auto
);

$z-index: () !default;
$z-index: map.merge($_defaults, $z-index);
