// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "place-items"
    ),
    $extend: (
        "place-items": (
            "center"
        )
    )
);

@include describe("place-items") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .place-items-center {
                    place-items: center;
                }
            }
        }
    }
}
