// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "place-items": (
            "center"
        )
    )
);

@include describe("place-items") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("place-items", core.place-items-values(), (
                    "place-items": "place-items"
                ));
            }

            @include expect(false) {
                .place-items-center {
                    place-items: center;
                }
            }
        }
    }
}
