// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("place-items") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("place-items", core.place-items-values(), (
                    "place-items": "place-items"
                ));
            }

            @include expect(false) {
                .place-items-start {
                    place-items: start;
                }

                .place-items-end {
                    place-items: end;
                }

                .place-items-center {
                    place-items: center;
                }

                .place-items-stretch {
                    place-items: stretch;
                }
            }
        }
    }
}
