// ============================================================================================= //
//                                            TOKENS                                             //
// ============================================================================================= //

$attachment: (
    "fixed": "fixed",
    "local": "local",
    "scroll": "scroll"
);

$clip: (
    "border": "border-box",
    "content": "content-box",
    "padding": "padding-box",
    "text": "text"
);

$color: (
    "inherit": "inherit",
    "current": "currentColor",
    "transparent": "transparent"
);

$image: (
    "none": "none"
);

$origin: (
    "border": "border-box",
    "content": "content-box",
    "padding": "padding-box"
);

$position: (
    "bottom": "bottom",
    "center": "center",
    "left": "left",
    "right": "right",
    "top": "top"
);

$repeat: (
    "repeat": "repeat",
    "no-repeat": "no-repeat",
    "repeat-x": "repeat-x",
    "repeat-y": "repeat-y",
    "repeat-round": "round",
    "repeat-space": "space"
);

$size: (
    "auto": "auto",
    "cover": "cover",
    "contain": "contain"
);
