// ============================================================================================= //
//                                            TOKENS                                             //
// ============================================================================================= //

$blur: (
    "0": "0"
);

$brightness: (
    "0": "0",
    "100": "1"
);

$contrast: (
    "0": "0",
    "100": "1"
);

$grayscale: (
    "DEFAULT": "1",
    "0": "0"
);
