// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "bg-attachment": (
            fixed
        )
    )
);
@use "../index" as bg-attachment;

@include describe("bg-attachment.core-styles()") {
    @include it("Should return extended declarations.") {
        @include assert {
            @include output(false) {
                @include bg-attachment.core-styles;
            }

            @include expect(false) {
                .bg-attachment-fixed {
                    background-attachment: fixed;
                }

                @media (min-width: 320px) {
                    .xs\:bg-attachment-fixed {
                        background-attachment: fixed;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:bg-attachment-fixed {
                        background-attachment: fixed;
                    }
                }

                @media (min-width: 768px) {
                    .md\:bg-attachment-fixed {
                        background-attachment: fixed;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:bg-attachment-fixed {
                        background-attachment: fixed;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:bg-attachment-fixed {
                        background-attachment: fixed;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:bg-attachment-fixed {
                        background-attachment: fixed;
                    }
                }
            }
        }
    }
}
