// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults-max-height: (
    0: 0,
    full: 100%,
    screen: 100vh
);

$max-height: () !default;
$max-height: map.merge($_defaults-max-height, $max-height);
