// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "position": (
            fixed
        )
    )
);
@use "../index" as position;

@include describe("position.core-styles()") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include position.core-styles;
            }

            @include expect(false) {
                .fixed {
                    position: fixed;
                }

                @media (min-width: 320px) {
                    .xs\:fixed {
                        position: fixed;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:fixed {
                        position: fixed;
                    }
                }

                @media (min-width: 768px) {
                    .md\:fixed {
                        position: fixed;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:fixed {
                        position: fixed;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:fixed {
                        position: fixed;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:fixed {
                        position: fixed;
                    }
                }
            }
        }
    }
}
