// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core;

@include describe("opacity") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("opacity", tokens.opacity-values(), (
                    "opacity": "opacity"
                ));
            }

            @include expect(false) {
                .opacity-0 {
                    opacity: 0;
                }

                .opacity-100 {
                    opacity: 1;
                }

                @media (min-width: 320px) {
                    .xs\:opacity-0 {
                        opacity: 0;
                    }

                    .xs\:opacity-100 {
                        opacity: 1;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:opacity-0 {
                        opacity: 0;
                    }

                    .sm\:opacity-100 {
                        opacity: 1;
                    }
                }

                @media (min-width: 768px) {
                    .md\:opacity-0 {
                        opacity: 0;
                    }

                    .md\:opacity-100 {
                        opacity: 1;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:opacity-0 {
                        opacity: 0;
                    }

                    .lg\:opacity-100 {
                        opacity: 1;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:opacity-0 {
                        opacity: 0;
                    }

                    .xl\:opacity-100 {
                        opacity: 1;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:opacity-0 {
                        opacity: 0;
                    }

                    .\32 xl\:opacity-100 {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
