// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "float"
    ),
    $extend: (
        "float": (
            "left"
        )
    )
);

@include describe("float") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .float-left {
                    float: left;
                }
            }
        }
    }
}
