// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("float") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("float", tokens.float-values(), (
                    "float": "float"
                ));
            }

            @include expect(false) {
                .float-left {
                    float: left;
                }

                .float-right {
                    float: right;
                }

                .float-none {
                    float: none;
                }
            }
        }
    }
}
