// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "float"
    )
);

@include describe("float") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .float-left {
                    float: left;
                }

                .float-right {
                    float: right;
                }

                .float-none {
                    float: none;
                }
            }
        }
    }
}
