// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../../../src" as core with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "top": (
            "10": "10px"
        )
    )
);

@include describe("top") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("top", tokens.position-top-values(), (
                    "top": "top"
                ));
            }

            @include expect(false) {
                .top-0 {
                    top: 0;
                }

                .top-10 {
                    top: 10px;
                }
            }
        }
    }
}
