// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

@forward "./properties";

// ------------------------------------------------------------------------- //
// Private variables
// ------------------------------------------------------------------------- //

$filters: (
    "blur",
    "contrast",
    "brightness",
    "grayscale"
);

$default-engine: (
    "screens": (),
    "list": "black"
);

// ------------------------------------------------------------------------- //
// Public variables
// ------------------------------------------------------------------------- //

$prefix: null !default;
$important: false !default;
$separator: ":" !default;
$engine: () !default;
$extend: () !default;

///
/// Extend options.
///

$engine: map.deep-merge($default-engine, $engine);
