// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0,
    full: 100%,
    screen: 100vw
);

$max-width: () !default;
$max-width: map.merge($_defaults, $max-width);
