// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "width": (
            "25": "25%",
            "50": "50%",
            "75": "75%"
        )
    ),
    $core: (
        "width"
    )
);

@include describe("width") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .w-0 {
                    width: 0;
                }

                .w-auto {
                    width: auto;
                }

                .w-full {
                    width: 100%;
                }

                .w-screen {
                    width: 100vw;
                }

                .w-min {
                    width: min-content;
                }

                .w-max {
                    width: max-content;
                }

                .w-fit {
                    width: fit-content;
                }

                .w-25 {
                    width: 25%;
                }

                .w-50 {
                    width: 50%;
                }

                .w-75 {
                    width: 75%;
                }
            }
        }
    }
}
