// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core;

@include describe("width") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("width", core.width-values(), (
                    "w": "width"
                ));
            }

            @include expect(false) {
                .w-0 {
                    width: 0;
                }

                @media (min-width: 320px) {
                    .xs\:w-0 {
                        width: 0;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-0 {
                        width: 0;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-0 {
                        width: 0;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-0 {
                        width: 0;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-0 {
                        width: 0;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-0 {
                        width: 0;
                    }
                }

                .w-auto {
                    width: auto;
                }

                @media (min-width: 320px) {
                    .xs\:w-auto {
                        width: auto;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-auto {
                        width: auto;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-auto {
                        width: auto;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-auto {
                        width: auto;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-auto {
                        width: auto;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-auto {
                        width: auto;
                    }
                }

                .w-full {
                    width: 100%;
                }

                @media (min-width: 320px) {
                    .xs\:w-full {
                        width: 100%;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-full {
                        width: 100%;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-full {
                        width: 100%;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-full {
                        width: 100%;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-full {
                        width: 100%;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-full {
                        width: 100%;
                    }
                }

                .w-screen {
                    width: 100vw;
                }

                @media (min-width: 320px) {
                    .xs\:w-screen {
                        width: 100vw;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-screen {
                        width: 100vw;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-screen {
                        width: 100vw;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-screen {
                        width: 100vw;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-screen {
                        width: 100vw;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-screen {
                        width: 100vw;
                    }
                }

                .w-min {
                    width: min-content;
                }

                @media (min-width: 320px) {
                    .xs\:w-min {
                        width: min-content;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-min {
                        width: min-content;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-min {
                        width: min-content;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-min {
                        width: min-content;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-min {
                        width: min-content;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-min {
                        width: min-content;
                    }
                }

                .w-max {
                    width: max-content;
                }

                @media (min-width: 320px) {
                    .xs\:w-max {
                        width: max-content;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-max {
                        width: max-content;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-max {
                        width: max-content;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-max {
                        width: max-content;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-max {
                        width: max-content;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-max {
                        width: max-content;
                    }
                }

                .w-fit {
                    width: fit-content;
                }

                @media (min-width: 320px) {
                    .xs\:w-fit {
                        width: fit-content;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:w-fit {
                        width: fit-content;
                    }
                }

                @media (min-width: 768px) {
                    .md\:w-fit {
                        width: fit-content;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:w-fit {
                        width: fit-content;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:w-fit {
                        width: fit-content;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:w-fit {
                        width: fit-content;
                    }
                }
            }
        }
    }
}
