// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("width") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("width", tokens.width-values(), (
                    "w": "width"
                ));
            }

            @include expect(false) {
                .w-0 {
                    width: 0;
                }

                .w-auto {
                    width: auto;
                }

                .w-full {
                    width: 100%;
                }

                .w-screen {
                    width: 100vw;
                }

                .w-min {
                    width: min-content;
                }

                .w-max {
                    width: max-content;
                }

                .w-fit {
                    width: fit-content;
                }
            }
        }
    }
}
