// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "width"
    )
);

@include describe("width") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .w-0 {
                    width: 0;
                }

                .w-auto {
                    width: auto;
                }

                .w-full {
                    width: 100%;
                }

                .w-screen {
                    width: 100vw;
                }

                .w-min {
                    width: min-content;
                }

                .w-max {
                    width: max-content;
                }

                .w-fit {
                    width: fit-content;
                }
            }
        }
    }
}
