// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $extend: (
        "align-items": (
            "center"
        )
    ),
    $core: (
        "align-items"
    )
);

@include describe("align-items") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .align-items-center {
                    align-items: center;
                }
            }
        }
    }
}
