// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $core: (
        "align-items"
    )
);

@include describe("align-items") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .align-items-start {
                    align-items: start;
                }

                .align-items-end {
                    align-items: end;
                }

                .align-items-center {
                    align-items: center;
                }

                .align-items-baseline {
                    align-items: baseline;
                }

                .align-items-stretch {
                    align-items: stretch;
                }

                @media (min-width: 320px) {
                    .xs\:align-items-start {
                        align-items: start;
                    }

                    .xs\:align-items-end {
                        align-items: end;
                    }

                    .xs\:align-items-center {
                        align-items: center;
                    }

                    .xs\:align-items-baseline {
                        align-items: baseline;
                    }

                    .xs\:align-items-stretch {
                        align-items: stretch;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:align-items-start {
                        align-items: start;
                    }

                    .sm\:align-items-end {
                        align-items: end;
                    }

                    .sm\:align-items-center {
                        align-items: center;
                    }

                    .sm\:align-items-baseline {
                        align-items: baseline;
                    }

                    .sm\:align-items-stretch {
                        align-items: stretch;
                    }
                }

                @media (min-width: 768px) {
                    .md\:align-items-start {
                        align-items: start;
                    }

                    .md\:align-items-end {
                        align-items: end;
                    }

                    .md\:align-items-center {
                        align-items: center;
                    }

                    .md\:align-items-baseline {
                        align-items: baseline;
                    }

                    .md\:align-items-stretch {
                        align-items: stretch;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:align-items-start {
                        align-items: start;
                    }

                    .lg\:align-items-end {
                        align-items: end;
                    }

                    .lg\:align-items-center {
                        align-items: center;
                    }

                    .lg\:align-items-baseline {
                        align-items: baseline;
                    }

                    .lg\:align-items-stretch {
                        align-items: stretch;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:align-items-start {
                        align-items: start;
                    }

                    .xl\:align-items-end {
                        align-items: end;
                    }

                    .xl\:align-items-center {
                        align-items: center;
                    }

                    .xl\:align-items-baseline {
                        align-items: baseline;
                    }

                    .xl\:align-items-stretch {
                        align-items: stretch;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:align-items-start {
                        align-items: start;
                    }

                    .\32 xl\:align-items-end {
                        align-items: end;
                    }

                    .\32 xl\:align-items-center {
                        align-items: center;
                    }

                    .\32 xl\:align-items-baseline {
                        align-items: baseline;
                    }

                    .\32 xl\:align-items-stretch {
                        align-items: stretch;
                    }
                }
            }
        }
    }
}
