// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "align-items"
    )
);

@include describe("align-items") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.core-styles;
            }

            @include expect(false) {
                .align-items-start {
                    align-items: start;
                }

                .align-items-end {
                    align-items: end;
                }

                .align-items-center {
                    align-items: center;
                }

                .align-items-baseline {
                    align-items: baseline;
                }

                .align-items-stretch {
                    align-items: stretch;
                }
            }
        }
    }
}
