// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../core" with (
    $extend: (
        "flex-grow": (
            "2": 2
        )
    )
);
@use "../index" as flex-grow;

@include describe("flex-grow.core-styles()") {
    @include it("Should return extended declarations.") {
        @include assert {
            @include output(false) {
                @include flex-grow.core-styles;
            }

            @include expect(false) {
                .flex-grow {
                    flex-grow: 1;
                }

                .flex-grow-0 {
                    flex-grow: 0;
                }

                .flex-grow-2 {
                    flex-grow: 2;
                }

                @media (min-width: 320px) {
                    .xs\:flex-grow {
                        flex-grow: 1;
                    }

                    .xs\:flex-grow-0 {
                        flex-grow: 0;
                    }

                    .xs\:flex-grow-2 {
                        flex-grow: 2;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:flex-grow {
                        flex-grow: 1;
                    }

                    .sm\:flex-grow-0 {
                        flex-grow: 0;
                    }

                    .sm\:flex-grow-2 {
                        flex-grow: 2;
                    }
                }

                @media (min-width: 768px) {
                    .md\:flex-grow {
                        flex-grow: 1;
                    }

                    .md\:flex-grow-0 {
                        flex-grow: 0;
                    }

                    .md\:flex-grow-2 {
                        flex-grow: 2;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:flex-grow {
                        flex-grow: 1;
                    }

                    .lg\:flex-grow-0 {
                        flex-grow: 0;
                    }

                    .lg\:flex-grow-2 {
                        flex-grow: 2;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:flex-grow {
                        flex-grow: 1;
                    }

                    .xl\:flex-grow-0 {
                        flex-grow: 0;
                    }

                    .xl\:flex-grow-2 {
                        flex-grow: 2;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:flex-grow {
                        flex-grow: 1;
                    }

                    .\32 xl\:flex-grow-0 {
                        flex-grow: 0;
                    }

                    .\32 xl\:flex-grow-2 {
                        flex-grow: 2;
                    }
                }
            }
        }
    }
}
