// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../src/tokens";
@use "sass:string";
@use "../../../src" as core;

@include describe("grid-row") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("grid-row", tokens.grid-row-values(), (
                    "row": "grid-row"
                ));
            }

            @include expect(false) {
                .row-auto {
                    grid-row: auto;
                }

                .row-span-full {
                    grid-row: string.unquote("1 / -1");
                }

                .row-span-1 {
                    grid-row: string.unquote("span 1 / span 1");
                }

                .row-span-2 {
                    grid-row: string.unquote("span 2 / span 2");
                }

                .row-span-3 {
                    grid-row: string.unquote("span 3 / span 3");
                }

                .row-span-4 {
                    grid-row: string.unquote("span 4 / span 4");
                }

                .row-span-5 {
                    grid-row: string.unquote("span 5 / span 5");
                }

                .row-span-6 {
                    grid-row: string.unquote("span 6 / span 6");
                }

                @media (min-width: 320px) {
                    .xs\:row-auto {
                        grid-row: auto;
                    }

                    .xs\:row-span-full {
                        grid-row: string.unquote("1 / -1");
                    }

                    .xs\:row-span-1 {
                        grid-row: string.unquote("span 1 / span 1");
                    }

                    .xs\:row-span-2 {
                        grid-row: string.unquote("span 2 / span 2");
                    }

                    .xs\:row-span-3 {
                        grid-row: string.unquote("span 3 / span 3");
                    }

                    .xs\:row-span-4 {
                        grid-row: string.unquote("span 4 / span 4");
                    }

                    .xs\:row-span-5 {
                        grid-row: string.unquote("span 5 / span 5");
                    }

                    .xs\:row-span-6 {
                        grid-row: string.unquote("span 6 / span 6");
                    }
                }

                @media (min-width: 480px) {
                    .sm\:row-auto {
                        grid-row: auto;
                    }

                    .sm\:row-span-full {
                        grid-row: string.unquote("1 / -1");
                    }

                    .sm\:row-span-1 {
                        grid-row: string.unquote("span 1 / span 1");
                    }

                    .sm\:row-span-2 {
                        grid-row: string.unquote("span 2 / span 2");
                    }

                    .sm\:row-span-3 {
                        grid-row: string.unquote("span 3 / span 3");
                    }

                    .sm\:row-span-4 {
                        grid-row: string.unquote("span 4 / span 4");
                    }

                    .sm\:row-span-5 {
                        grid-row: string.unquote("span 5 / span 5");
                    }

                    .sm\:row-span-6 {
                        grid-row: string.unquote("span 6 / span 6");
                    }
                }

                @media (min-width: 768px) {
                    .md\:row-auto {
                        grid-row: auto;
                    }

                    .md\:row-span-full {
                        grid-row: string.unquote("1 / -1");
                    }

                    .md\:row-span-1 {
                        grid-row: string.unquote("span 1 / span 1");
                    }

                    .md\:row-span-2 {
                        grid-row: string.unquote("span 2 / span 2");
                    }

                    .md\:row-span-3 {
                        grid-row: string.unquote("span 3 / span 3");
                    }

                    .md\:row-span-4 {
                        grid-row: string.unquote("span 4 / span 4");
                    }

                    .md\:row-span-5 {
                        grid-row: string.unquote("span 5 / span 5");
                    }

                    .md\:row-span-6 {
                        grid-row: string.unquote("span 6 / span 6");
                    }
                }

                @media (min-width: 960px) {
                    .lg\:row-auto {
                        grid-row: auto;
                    }

                    .lg\:row-span-full {
                        grid-row: string.unquote("1 / -1");
                    }

                    .lg\:row-span-1 {
                        grid-row: string.unquote("span 1 / span 1");
                    }

                    .lg\:row-span-2 {
                        grid-row: string.unquote("span 2 / span 2");
                    }

                    .lg\:row-span-3 {
                        grid-row: string.unquote("span 3 / span 3");
                    }

                    .lg\:row-span-4 {
                        grid-row: string.unquote("span 4 / span 4");
                    }

                    .lg\:row-span-5 {
                        grid-row: string.unquote("span 5 / span 5");
                    }

                    .lg\:row-span-6 {
                        grid-row: string.unquote("span 6 / span 6");
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:row-auto {
                        grid-row: auto;
                    }

                    .xl\:row-span-full {
                        grid-row: string.unquote("1 / -1");
                    }

                    .xl\:row-span-1 {
                        grid-row: string.unquote("span 1 / span 1");
                    }

                    .xl\:row-span-2 {
                        grid-row: string.unquote("span 2 / span 2");
                    }

                    .xl\:row-span-3 {
                        grid-row: string.unquote("span 3 / span 3");
                    }

                    .xl\:row-span-4 {
                        grid-row: string.unquote("span 4 / span 4");
                    }

                    .xl\:row-span-5 {
                        grid-row: string.unquote("span 5 / span 5");
                    }

                    .xl\:row-span-6 {
                        grid-row: string.unquote("span 6 / span 6");
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:row-auto {
                        grid-row: auto;
                    }

                    .\32 xl\:row-span-full {
                        grid-row: string.unquote("1 / -1");
                    }

                    .\32 xl\:row-span-1 {
                        grid-row: string.unquote("span 1 / span 1");
                    }

                    .\32 xl\:row-span-2 {
                        grid-row: string.unquote("span 2 / span 2");
                    }

                    .\32 xl\:row-span-3 {
                        grid-row: string.unquote("span 3 / span 3");
                    }

                    .\32 xl\:row-span-4 {
                        grid-row: string.unquote("span 4 / span 4");
                    }

                    .\32 xl\:row-span-5 {
                        grid-row: string.unquote("span 5 / span 5");
                    }

                    .\32 xl\:row-span-6 {
                        grid-row: string.unquote("span 6 / span 6");
                    }
                }
            }
        }
    }
}
