// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    0: 0,
    100: 1
);

$brightness: () !default;
$brightness: map.merge($_defaults, $brightness);
