// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core;

@include describe("font-style") {
    @include it("Should return main styles declarations with breakpoints.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("font-style", core.$font-style, (
                    "font": "font-style"
                ));
            }

            @include expect(false) {
                .font-normal {
                    font-style: normal;
                }

                .font-italic {
                    font-style: italic;
                }

                @media (min-width: 320px) {
                    .xs\:font-normal {
                        font-style: normal;
                    }

                    .xs\:font-italic {
                        font-style: italic;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:font-normal {
                        font-style: normal;
                    }

                    .sm\:font-italic {
                        font-style: italic;
                    }
                }

                @media (min-width: 768px) {
                    .md\:font-normal {
                        font-style: normal;
                    }

                    .md\:font-italic {
                        font-style: italic;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:font-normal {
                        font-style: normal;
                    }

                    .lg\:font-italic {
                        font-style: italic;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:font-normal {
                        font-style: normal;
                    }

                    .xl\:font-italic {
                        font-style: italic;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:font-normal {
                        font-style: normal;
                    }

                    .\32 xl\:font-italic {
                        font-style: italic;
                    }
                }
            }
        }
    }
}
