// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "../core";

$name: "float";

$_defaults: (
    left,
    right,
    none
);

$extend: core.filter($_defaults, $name);
