// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../src" as core with (
    $engine: (
        "screens": false
    )
);

@include describe("justify-items") {
    @include it("Should return main styles declarations.") {
        @include assert {
            @include output(false) {
                @include core.createUtility("justify-items", core.$justify-items, (
                    "justify-items": "justify-items"
                ));
            }

            @include expect(false) {
                .justify-items-start {
                    justify-items: start;
                }

                .justify-items-end {
                    justify-items: end;
                }

                .justify-items-center {
                    justify-items: center;
                }

                .justify-items-stretch {
                    justify-items: stretch;
                }
            }
        }
    }
}
