// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    none: none,
);

$bg-image: () !default;
$bg-image: map.merge($_defaults, $bg-image);
