// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../index" as lasco with (
    $engine: (
        "screens": false
    ),
    $core: (
        "max-height"
    ),
    $extend: (
        "max-height": (
            "25": "25%",
            "50": "50%",
            "75": "75%"
        )
    )
);

@include describe("max-height") {
    @include it("Should return extended styles declarations.") {
        @include assert {
            @include output(false) {
                @include lasco.styles;
            }

            @include expect(false) {
                .max-h-0 {
                    max-height: 0;
                }

                .max-h-none {
                    max-height: none;
                }

                .max-h-full {
                    max-height: 100%;
                }

                .max-h-screen {
                    max-height: 100vh;
                }

                .max-h-min {
                    max-height: min-content;
                }

                .max-h-max {
                    max-height: max-content;
                }

                .max-h-fit {
                    max-height: fit-content;
                }

                .max-h-25 {
                    max-height: 25%;
                }

                .max-h-50 {
                    max-height: 50%;
                }

                .max-h-75 {
                    max-height: 75%;
                }
            }
        }
    }
}
