// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../../../../index" with (
    $extend: (
        "justify-content": (
            center
        )
    )
);
@use "../index" as justify-content;

@include describe("justify-content.core-styles()") {
    @include it("Should return extended `justify-content` declarations.") {
        @include assert {
            @include output(false) {
                @include justify-content.core-styles;
            }

            @include expect(false) {
                .justify-content-center {
                    justify-content: center;
                }

                @media (min-width: 320px) {
                    .xs\:justify-content-center {
                        justify-content: center;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:justify-content-center {
                        justify-content: center;
                    }
                }

                @media (min-width: 768px) {
                    .md\:justify-content-center {
                        justify-content: center;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:justify-content-center {
                        justify-content: center;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:justify-content-center {
                        justify-content: center;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:justify-content-center {
                        justify-content: center;
                    }
                }
            }
        }
    }
}
