// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as justify-content;

@include describe("justify-content.core-styles()") {
    @include it("Should return all `justify-content` declarations.") {
        @include assert {
            @include output(false) {
                @include justify-content.core-styles;
            }

            @include expect(false) {
                .justify-content-start {
                    justify-content: start;
                }

                .justify-content-end {
                    justify-content: end;
                }

                .justify-content-center {
                    justify-content: center;
                }

                .justify-content-between {
                    justify-content: space-between;
                }

                .justify-content-around {
                    justify-content: space-around;
                }

                .justify-content-evenly {
                    justify-content: space-evenly;
                }

                .justify-content-stretch {
                    justify-content: stretch;
                }

                @media (min-width: 320px) {
                    .xs\:justify-content-start {
                        justify-content: start;
                    }

                    .xs\:justify-content-end {
                        justify-content: end;
                    }

                    .xs\:justify-content-center {
                        justify-content: center;
                    }

                    .xs\:justify-content-between {
                        justify-content: space-between;
                    }

                    .xs\:justify-content-around {
                        justify-content: space-around;
                    }

                    .xs\:justify-content-evenly {
                        justify-content: space-evenly;
                    }

                    .xs\:justify-content-stretch {
                        justify-content: stretch;
                    }
                }

                @media (min-width: 480px) {
                    .sm\:justify-content-start {
                        justify-content: start;
                    }

                    .sm\:justify-content-end {
                        justify-content: end;
                    }

                    .sm\:justify-content-center {
                        justify-content: center;
                    }

                    .sm\:justify-content-between {
                        justify-content: space-between;
                    }

                    .sm\:justify-content-around {
                        justify-content: space-around;
                    }

                    .sm\:justify-content-evenly {
                        justify-content: space-evenly;
                    }

                    .sm\:justify-content-stretch {
                        justify-content: stretch;
                    }
                }

                @media (min-width: 768px) {
                    .md\:justify-content-start {
                        justify-content: start;
                    }

                    .md\:justify-content-end {
                        justify-content: end;
                    }

                    .md\:justify-content-center {
                        justify-content: center;
                    }

                    .md\:justify-content-between {
                        justify-content: space-between;
                    }

                    .md\:justify-content-around {
                        justify-content: space-around;
                    }

                    .md\:justify-content-evenly {
                        justify-content: space-evenly;
                    }

                    .md\:justify-content-stretch {
                        justify-content: stretch;
                    }
                }

                @media (min-width: 960px) {
                    .lg\:justify-content-start {
                        justify-content: start;
                    }

                    .lg\:justify-content-end {
                        justify-content: end;
                    }

                    .lg\:justify-content-center {
                        justify-content: center;
                    }

                    .lg\:justify-content-between {
                        justify-content: space-between;
                    }

                    .lg\:justify-content-around {
                        justify-content: space-around;
                    }

                    .lg\:justify-content-evenly {
                        justify-content: space-evenly;
                    }

                    .lg\:justify-content-stretch {
                        justify-content: stretch;
                    }
                }

                @media (min-width: 1200px) {
                    .xl\:justify-content-start {
                        justify-content: start;
                    }

                    .xl\:justify-content-end {
                        justify-content: end;
                    }

                    .xl\:justify-content-center {
                        justify-content: center;
                    }

                    .xl\:justify-content-between {
                        justify-content: space-between;
                    }

                    .xl\:justify-content-around {
                        justify-content: space-around;
                    }

                    .xl\:justify-content-evenly {
                        justify-content: space-evenly;
                    }

                    .xl\:justify-content-stretch {
                        justify-content: stretch;
                    }
                }

                @media (min-width: 1400px) {
                    .\32 xl\:justify-content-start {
                        justify-content: start;
                    }

                    .\32 xl\:justify-content-end {
                        justify-content: end;
                    }

                    .\32 xl\:justify-content-center {
                        justify-content: center;
                    }

                    .\32 xl\:justify-content-between {
                        justify-content: space-between;
                    }

                    .\32 xl\:justify-content-around {
                        justify-content: space-around;
                    }

                    .\32 xl\:justify-content-evenly {
                        justify-content: space-evenly;
                    }

                    .\32 xl\:justify-content-stretch {
                        justify-content: stretch;
                    }
                }
            }
        }
    }
}
